@font-face {
  font-family: 'Gotham-Bold';
  src:  url('Gotham-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src:  url('Gotham-Book.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src:  url('Gotham-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd-Bold';
  src:  url('GothamRnd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd-Book';
  src:  url('GothamRnd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd-Light';
  src:  url('GothamRnd-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}