/*----------------------------------------------------
@Author: Kholid Sudrajat (CRANIUM INDONESIA)
@URL: http://cranium.id
----------------------------------------------------*/

* {
    font-family: 'GothamBookRegular';
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}
.m10-b {
    margin-bottom: 10px;
}.p20-b {
    padding-bottom: 20px;
}
.p50-b {
    padding-bottom: 50px;
}
.p70-b {
    padding-bottom: 70px;
}
.p10-t {
    padding-top: 10px;
}
.p20-t {
    padding-top: 20px;
}

body {
    position: relative;
    font-family: 'GothamBookRegular';
}


/*Floating*/

.fleft {
    float: left;
}

.fright {
    float: right;
}

.item {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    padding: 5px;
    float: left;
}
.row.width-column {
    column-count: 6;
    column-gap: 15;
}
.list-lokasi {
    position: relative;
    display: block;
}

/*Section Fix*/

section.row,
header.row,
footer.row {
    margin: 0;
    position: relative;
}


/*Ancore*/

a,
.btn,
button {
    outline: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

a:focus,
.btn:focus,
button:focus,
a:hover,
.btn:hover,
button:hover {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}


/*----------------------------------------------------------------*/

.top_bar {
    background: #fff;
    z-index: 2;
}

.top_bar .container > .row {
    border-bottom: 1px solid #ebf0f5;
    padding: 16px 0;
    line-height: 20px;
    color: #78909C;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: 300;
}

.top_bar .container > .row i {
    margin-right: 7px;
    font-size: 18px;
    float: left;
}

.top_bar .container .contact_info .email {
    margin-right: 20px;
}

.top_bar .container .contact_info .email img {
    margin-right: 6px;
}

#homepage .carousel-caption {
    text-align: left;
}
#client .carousel-caption {
    text-align: center;
}

#homepage .carousel-inner {
    min-height: 100vh;
}
#client .carousel-inner {
    min-height: 50vh;
}

.small-slide .carousel-inner {
    min-height: 10vh;
    height: 70vh;
}

.carousel-indicators {
    margin-bottom: 45px;
}

.carousel-indicators li {
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    padding: 1px;
    margin: 0 2px;
    height: 10px;
    width: 10px;
}

.carousel-indicators li.active {
    border: 1px solid #fff;
    background: transparent;
    margin-top: 2px;
}

.carousel-indicators li.active div {
    height: 5px;
    width: 5px;
    background: #fff;
    padding: 4px;
    border-radius: 100%;
}

#homepage .carousel-inner .item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
#client .carousel-inner .item {
    min-height: 50vh;
    background-position: center;
    background-size: cover;
}

#homepage .carousel-inner .item .carousel-caption {
    margin-bottom: 80px;
}

#homepage .carousel-inner .item .carousel-caption .carousel-title {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .005);
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Univers-Light' !important;
}

#homepage .carousel-inner .item .carousel-caption .carousel-description {
    color: #fff;
    text-shadow: none;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.carousel-inner .item .carousel-caption .carousel-action {
    color: #fff;
    text-shadow: none;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'ATRotisSemiSans-Bold' !important;
    font-weight: 600;
    border: 1px solid #FFF;
    border-radius: 0px;
    padding: 10px 3px;
}

.carousel-inner .item .carousel-caption .carousel-action span {
    background: transparent;
    color: #FFF;
    padding: 8px 8px;
}

.carousel-inner .item .carousel-caption .carousel-action:hover span {
    background: white;
    color: #023e88;
    padding: 8px 8px;
}

#homepage .carousel-control.left,
#homepage .carousel-control.right {
    margin-top: 40vh;
    background: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0) 100%);
    box-shadow: none;
    color: #FFF;
    padding: 8px 8px;
    height: 80px;
}
#client .carousel-control.left,
#client .carousel-control.right {
    background: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0) 100%);
    box-shadow: none;
    color: #FFF;
    padding: 8px 8px;
    height: 115px;
}

.carousel-control .control {
    background: transparent;
    background-image: none;
    box-shadow: none;
    color: #FFF;
    padding: 8px 8px;
    width: 40px;
}


/*-------------------------------------------------*/

.back-shadow {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    padding: 30px 0;
    top: 260px;
    background: rgba(0, 0, 0, 1);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) -100%, rgba(0, 0, 0, 0.9) 20%, rgba(247, 247, 247, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f7f7f7', GradientType=1);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1) -100%, rgba(0, 0, 0, 0.9) 20%, rgba(247, 247, 247, 0) 100%);
    background: -webkit-gradient(bottom top, top top, color-stop(-100%, rgba(0, 0, 0, 1)), color-stop(20%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(247, 247, 247, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) -100%, rgba(0, 0, 0, 0.9) 20%, rgba(247, 247, 247, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1) -100%, rgba(0, 0, 0, 0.9) 20%, rgba(247, 247, 247, 0) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 1) -100%, rgba(0, 0, 0, 0.9) 20%, rgba(247, 247, 247, 0) 100%);
}


/*------------------------------------------------*/

.toggleHeading {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -moz-transition: none !important;
}
.toggleCaption {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -moz-transition: none !important;
}
.toggleHeading-client {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -moz-transition: none !important;
}
.toggleCaption-client {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -moz-transition: none !important;
}


.navs {
    display: absolute;
    margin-top: -100vh;
}

.default.fuxe {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.default .navbar {
    background: none;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.3);
    border: none;
    background: #ffffff;
    -webkit-transition: all 300ms ease-in-out 0s;
    height: 60px;
    transition: all 300ms ease-in-out 0s;
}

.default .navbar .navbar-header a.navbar-brand {
    line-height: 40px;
    padding: 0 15px;
    display: block;
    height: auto;
}

.default .navbar .navbar-header a.navbar-brand img {
    display: inline-block;
    height: 35px;
    margin: 0px 30px;
}

.default .navbar #main_nav .nav {
    margin: 0;
    padding: 5px 0;
}

.default .navbar #main_nav .nav li {
    border-left: .5px solid #a7a9ab;
}

.default .navbar #main_nav .nav li a {
    color: #808284;
    text-shadow: none;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 3px;
    padding: 0;
    margin: 0px 35px;
    font-size: 14px;
    font-family: 'GothamBookRegular';
    font-weight: 300;
}

.default .navbar #main_nav .nav li:nth-child(1) {
    border-left: none;
}

.default .navbar #main_nav .nav li a:hover,
.default .navbar #main_nav .nav li a:focus,
.default .navbar #main_nav .nav li a.active {
    color: #0c2e73;
    border-bottom: 3px solid #ed1d24;
    background: none;
}

.default .navbar #main_nav .nav li.active a {
    background: white;
    box-shadow: none;
    color: #f68b32;
    border-bottom: 3px solid #0054a6;
}

.default .navbar #main_nav .nav li.dropdown a {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.default .navbar #main_nav .nav li.dropdown a:focus {
    background: none;
}

.default .navbar #main_nav .nav li.dropdown .dropdown-menu {
    border-radius: 0;
    padding: 0 0;
    border: none;
    background: none;
    display: block;
    background: #f68b32;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    left: 0;
    right: auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    margin-top: 0;
}

.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a {
    line-height: 40px;
    font-weight: 400;
    padding: 0 18px;
    font-size: 12px;
    border: none;
    text-transform: none;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #0056a4;
}

.default .navbar #main_nav .nav li.dropdown .dropdown-menu li:last-child a {
    border-bottom: 0px solid #0056a4;
}

.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a:hover,
.default .navbar #main_nav .nav li.dropdown .dropdown-menu li.active a {
    color: #fff;
    background: #0056a4;
}

.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a:hover:after {
    width: 100%;
}

.default .navbar #main_nav .nav li.dropdown:hover a {
    background: white;
    box-shadow: none;
    color: #f68b32;
    border-bottom: 5px solid #0054a6;
}

.default .navbar #main_nav .nav li.dropdown:hover ul {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.default .navbar #main_nav .nav li.dropdown:hover ul li a {
    background: none;
    height: 45px;
    font-weight: 300;
}

.default .navbar #main_nav .nav li.book a {
    background: #263238;
    padding: 0 25px;
    color: #fff;
    line-height: 48px;
    margin-left: 15px;
}

.default .navbar #main_nav .nav li.book a:hover {
    background: #d32f2f;
}

.default .navbar.navbar2 {
    background: #fff;
    height: auto;
    padding-top: 0;
    margin-bottom: 0;
}

.default .navbar.navbar2 .navbar-header a.navbar-brand {
    line-height: 88px;
}

.default .navbar.navbar2 #main_nav .nav li a {
    line-height: 88px;
    color: #8595b1;
}

.default .navbar.navbar2 #main_nav .nav li a:hover {
    color: #20292d;
}

.default .navbar.navbar2 #main_nav .nav li.active a {
    color: #20292d;
}

.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a {
    color: rgba(255, 255, 255, 0.7);
}

.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a:hover {
    color: #fff;
}

.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a:hover:after {
    width: 100%;
}

.default .navbar.navbar2 #main_nav .nav li.dropdown:hover a {
    color: #20292d;
    background: none;
}

.default .navbar.navbar2 #main_nav .nav li.book {
    padding: 20px 0;
}

.default .navbar.navbar2 #main_nav .nav li.book a {
    color: #fff;
    line-height: 48px;
}

.default .navbar.navbar3 {
    background: #d32f2f;
    height: auto;
    padding-top: 0;
    margin-bottom: 0;
}

.default .navbar.navbar3 .navbar-header a.navbar-brand {
    line-height: 88px;
}

.default .navbar.navbar3 #main_nav .nav li a {
    line-height: 88px;
}

.default .navbar.navbar3 #main_nav .nav li a:hover {
    color: #fff;
}

.default .navbar.navbar3 #main_nav .nav li.dropdown .dropdown-menu li a {
    color: rgba(255, 255, 255, 0.7);
}

.default .navbar.navbar3 #main_nav .nav li.dropdown .dropdown-menu li a:hover {
    color: #fff;
}

.default .navbar.navbar3 #main_nav .nav li.dropdown .dropdown-menu li a:hover:after {
    width: 100%;
}

.default .navbar.navbar3 #main_nav .nav li.dropdown:hover a {
    color: #fff;
}

.default .navbar.navbar3 #main_nav .nav li.book {
    padding: 20px 0;
}

.default .navbar.navbar3 #main_nav .nav li.book a {
    color: #fff;
    line-height: 48px;
}

.default .navbar.collapsed {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

.default .navbar.affix {
    width: 100%;
    top: 0;
}


/*----------------------------------------------------------------*/

.background_slider_row.row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.home3 .background_slider_row.row {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: auto;
}


/*----------------------------------------------------------------*/

.form_top_part {
    width: 430px;
    padding: 40px 40px 0;
    background: #f44336;
}

.form_top_part h2 {
    font-family: 'Avenir-Book', sans-serif;
    margin: 0 0 25px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

.form_top_part p {
    font-family: 'ATRotisSemiSans', sans-serif;
    margin-bottom: 40px;
    color: #d8f2ff;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.form_top_part h4 {
    padding: 0 40px;
    line-height: 48px;
    color: #d32f2f;
    font-family: 'Avenir-Book', sans-serif;
    text-transform: uppercase;
    background: #fff;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

.form_row {
    background: #fff;
}

.form_row .inner {
    padding: 20px 0 20px 32px;
}

.form_row .col-sm-4,
.form_row .col-sm-5 {
    padding: 0 8px;
}

.form_row .col-sm-4:before,
.form_row .col-sm-5:before {
    content: '';
    height: 11px;
    width: 1px;
    background: #c6cede;
    display: block;
    position: absolute;
    left: 8px;
    bottom: 10px;
    z-index: 1;
}

.form_row .col-sm-4 input,
.form_row .col-sm-5 input {
    border: 1px solid transparent;
    border-bottom-color: #c6cede;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    border-radius: 0;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 10px 0;
    color: #8595b1;
    background: none;
    z-index: 2;
}

.form_row .col-sm-4 input + .placeholder,
.form_row .col-sm-5 input + .placeholder {
    position: absolute;
    top: 0;
    line-height: 40px;
    text-transform: capitalize;
    padding: 0 17px;
    margin-top: 10px;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #8595b1;
    font-size: 16px;
    z-index: 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.form_row .col-sm-4 input:focus + .placeholder,
.form_row .col-sm-5 input:focus + .placeholder,
.form_row .col-sm-4 input.notEmpty + .placeholder,
.form_row .col-sm-5 input.notEmpty + .placeholder {
    font-size: 12px;
    margin-top: -7px;
}

.form_row .col-sm-3 {
    padding: 0 8px;
}

.form_row .col-sm-3 button {
    float: right;
    background: none;
    padding: 0 45px;
    line-height: 48px;
    background: #263238;
    text-transform: uppercase;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #fff;
    border: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.form_row .col-sm-3 button:hover,
.form_row .col-sm-3 button:focus {
    background: #d32f2f;
}

.form_bottom_part {
    width: 430px;
    padding: 28px 34px;
    background: #d32f2f;
    margin-bottom: 0;
}

.form_bottom_part a {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    display: inline-block;
}

.form_bottom_part a img {
    margin-right: 20px;
    float: left;
}


/*----------------------------------------------------------------*/

.titleRow {
    color: #20292d;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.titleRow h5 {
    font-family: 'Avenir-Book', sans-serif;
    margin: 0;
    line-height: 1;
    font-weight: 300;
}

.titleRow h2 {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 27px;
    margin: 0;
    line-height: 40px;
    font-weight: bold;
}

.titleRow h2:after {
    content: '';
    width: 85px;
    height: 1px;
    background: #d32f2f;
    display: block;
    margin: 10px auto 0;
}

.titleRow.text-left {
    text-align: left;
}

.titleRow.text-left h2:after {
    margin-left: 0;
}

.bgf {
    background: #ffffff;
}

.contentRowPad {
    padding: 90px 0;
}

.accordion_col .titleRow {
    margin-bottom: 60px;
}

.accordion {
    margin-bottom: 0;
}

.accordion .panel {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}

.accordion .panel .panel-heading {
    padding: 0;
    background: #fff;
}

.accordion .panel .panel-heading h4 a {
    display: block;
    line-height: 50px;
    text-transform: uppercase;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    border: none;
    padding-left: 30px;
    color: #20292d;
}

.accordion .panel .panel-heading h4 a .sign {
    float: right;
    width: 12px;
    height: 50px;
    display: inline-block;
    background: url('../../images/icons/about/plus.png') no-repeat scroll 0 center;
    margin-right: 25px;
}

.accordion .panel .panel-heading h4 a[aria-expanded="true"] {
    background: #d32f2f;
    color: #fff;
}

.accordion .panel .panel-heading h4 a[aria-expanded="true"] .sign {
    background-image: url('../../images/icons/about/minus.png');
}

.accordion .panel .panel-collapse .panel-body {
    border-top: 0;
    padding: 30px;
}

.accordion .panel .panel-collapse .panel-body .panel_title {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #20292d;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.accordion .panel .panel-collapse .panel-body p {
    margin: 0;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #20292d;
    line-height: 24px;
}

.accordion .panel + .panel {
    margin-top: 1px;
}

.accordion .panel:first-child .panel-heading h4 a {
    border-top: none;
}

.accordion.white_bg .panel .panel-heading h4 a {
    background: #d32f2f;
    color: #fff;
    line-height: 1.2;
    padding: 17px 75px 17px 30px;
    position: relative;
}

.accordion.white_bg .panel .panel-heading h4 a .sign {
    background: url('../../images/icons/about/plus2.png') no-repeat scroll center center #0278bf;
    width: 67px;
    height: 100%;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion.white_bg .panel .panel-heading h4 a[aria-expanded="true"] .sign {
    background-image: url(../../images/icons/about/minus.png);
}

.view_all {
    padding: 0 43px;
    line-height: 45px;
    text-transform: uppercase;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    display: inline-block;
    background: #263238;
    color: #fff;
    margin-top: 20px;
}

.view_all:hover {
    background: #d32f2f;
    color: #fff;
}

.content_section.row {
    margin: 70px 0;
}

.sidebar .quick_block {
    margin-bottom: 16px;
}

.widget + .widget {
    margin-top: 50px;
}

.widget .widget_heading {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #20292d;
    margin: 0 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebf0f5;
    text-transform: uppercase;
}

.search_form .widget_heading {
    border: none;
    margin-bottom: 0;
}

.search_form .input-group input {
    line-height: 48px;
    padding: 0 18px;
    height: 48px;
    background: #e5f0fb;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #828fa8;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.search_form .input-group input::-moz-placeholder {
    color: #828fa8;
    opacity: 1;
}

.search_form .input-group input:-ms-input-placeholder {
    color: #828fa8;
}

.search_form .input-group input::-webkit-input-placeholder {
    color: #828fa8;
}

.search_form .input-group input:focus {
    background: #d32f2f;
    color: #fff;
}

.search_form .input-group input:focus::-moz-placeholder {
    color: #fff;
}

.search_form .input-group input:focus:-ms-input-placeholder {
    color: #fff;
}

.search_form .input-group input:focus::-webkit-input-placeholder {
    color: #fff;
}

.search_form .input-group input:focus + span > button {
    background: #263238;
}

.search_form .input-group span {
    padding: 0;
    border: none;
}

.search_form .input-group span button {
    width: 67px;
    line-height: 48px;
    background: #d32f2f;
    font-family: 'Avenir-Book', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.search_form .input-group span button:hover {
    background: #263238;
}

.categories ul {
    line-height: 36px;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.categories ul li a {
    color: #20292d;
}

.categories ul li a:hover {
    color: #d32f2f;
}

.recent_posts .recent_post + .recent_post {
    margin-top: 28px;
}

.recent_posts .recent_post .media-left {
    padding-right: 20px;
}

.recent_posts .recent_post .media-left a {
    display: block;
    width: 143px;
}

.recent_posts .recent_post .media-left a img {
    max-width: 100%;
}

.recent_posts .recent_post .media-body h5 {
    margin: 0 0 10px;
    font-family: 'Avenir-Book', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #20292d;
    line-height: 24px;
    font-weight: bold;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.recent_posts .recent_post .media-body h5:hover {
    color: #d32f2f;
}

.recent_posts .recent_post .media-body p {
    text-transform: uppercase;
    color: #8595b1;
    font-family: 'Avenir-Book', sans-serif;
    font-size: 12px;
}

.recent_posts .recent_post .media-body p a {
    color: #20292d;
}

.recent_posts .recent_post .media-body p a:hover {
    color: #d32f2f;
}

.tags.widget .tag {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    color: #20292d;
    line-height: 34px;
    padding: 0 12px;
    background: #e5f0fb;
    text-transform: uppercase;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

.tags.widget .tag:hover {
    color: #fff;
    background: #d32f2f;
}

.tags {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 12px;
    color: #8595b1;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.tags a {
    color: #20292d;
}

.tags a:hover {
    color: #d32f2f;
}

.paginationRow {
    text-align: center;
}

.paginationRow .pagination {
    margin: 60px auto;
}

.paginationRow .pagination li a {
    border: none;
    border-radius: 0;
    padding: 0 15px;
    line-height: 45px;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    color: #20292d;
    background: #e5f0fb;
    display: block;
    min-width: 45px;
    margin-right: 5px;
}

.paginationRow .pagination li a:hover {
    background: #d32f2f;
    color: #fff;
}

.paginationRow .pagination li.active a {
    color: #fff;
    background: #d32f2f;
}

.related {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #8595b1;
    line-height: 1;
    text-transform: uppercase;
}

.related .col-sm-6 {
    padding-left: 0;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 45px;
}

.related a {
    color: #d32f2f;
    margin-bottom: 8px;
    display: block;
}

.related a:hover {
    color: #263238;
}

.pager {
    text-align: left;
    margin: 0 -15px 37px;
}

.pager .inner {
    padding: 18px;
    background: #e5f0fb;
    text-transform: uppercase;
}

.pager .inner a {
    line-height: 24px;
    font-family: 'Avenir-Book', sans-serif;
    color: #20292d;
    display: inline-block;
    font-weight: bold;
}

.pager .inner a:first-child {
    font-size: 11px;
    margin-bottom: 10px;
}

.pager .inner a:first-child i {
    margin-right: 7px;
}

.pager .inner a:hover {
    color: #d32f2f;
}

.pager .next {
    text-align: right;
}

.pager .next .inner a:first-child i {
    margin-right: 0;
    margin-left: 7px;
}

.author_description {
    background: #e5f0fb;
    padding-top: 10px;
}

.author_description .media-left {
    width: 278px;
    text-align: center;
    padding-right: 15px;
    float: left;
}

.author_description .media-left img {
    display: inline-block;
}

.author_description .media-body {
    padding-top: 25px;
}

.author_description .media-body .titleRow {
    margin-bottom: 20px;
}

.author_description .media-body .titleRow h5 {
    text-transform: capitalize;
}

.author_description .media-body .titleRow h5:after {
    content: '';
    width: 85px;
    height: 1px;
    background: #d32f2f;
    display: block;
    margin: 10px 0 0;
}

.author_description .media-body .titleRow h2 {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 27px;
    margin: 0;
    line-height: 40px;
    font-weight: bold;
    color: #d32f2f;
}

.author_description .media-body .titleRow h2:after {
    display: none;
}

.author_description .media-body p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #8595b1;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 0;
}

.other_services {
    margin-bottom: 50px;
}

.other_services .services_list {
    text-transform: uppercase;
    line-height: 36px;
}

.other_services .services_list i {
    margin-right: 13px;
    color: #f44336;
}

.other_services .services_list a {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #20292d;
}

.other_services .services_list a:hover {
    color: #f44336;
}

.social_list {
    list-style: none;
    padding: 0;
}

.social_list li {
    float: left;
}

.social_list li + li {
    margin-left: -1px;
}

.social_list li a {
    display: block;
    line-height: 40px;
    width: 40px;
    color: #828fa8;
    border: 1px solid #d0d5e0;
    text-align: center;
    font-size: 18px;
}

.social_list li a i {
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.social_list li a:hover i.fa-facebook {
    color: #4568ac;
}

.social_list li a:hover i.fa-twitter {
    color: #47b3f7;
}

.social_list li a:hover i.fa-google-plus {
    color: #d61d1d;
}

#appointmefnt_form_pop {
    background: rgba(64, 77, 95, 0.8);
}

#appointmefnt_form_pop .modal-sm {
    width: 360px;
    max-width: 100%;
    margin: 50px auto 0;
}

#appointmefnt_form_pop .modal-sm .modal-content {
    background: none;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#appointmefnt_form_pop .modal-sm .modal-content button.close {
    opacity: 1;
    text-shadow: none;
    margin-top: 25px;
}

#appointmefnt_form_pop .modal-sm .modal-content button.close i {
    font-size: 30px;
    color: #fff;
}

#appointmefnt_form_pop .modal-sm .modal-content .appointment_home_form2 .form_inputs input[type="submit"] {
    font-size: 16px;
}

#appointmefnt_form_pop .modal-sm .modal-content .appointment_home_form2 .form_footer {
    padding: 20px 0;
}

#appointmefnt_form_pop .modal-sm .modal-content .appointment_home_form2 .form_footer a {
    color: #fff;
    font-size: 30px;
}

#appointmefnt_form_pop .modal-sm .modal-content .appointment_home_form2 .form_footer a img {
    display: inline-block;
    margin-right: 10px;
}

.shortcode_row.row {
    margin: 90px 0;
}

.shortcode_row.row .shortcode_row_title {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #20292d;
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 1;
    text-transform: uppercase;
}

.alert {
    background-image: none;
    border-radius: 0;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

.alert + .alert {
    margin-top: 20px;
}

.tabs.tabs-blue .nav-tabs li a {
    background: #d32f2f;
}

.tabs.tabs-blue .nav-tabs li a:hover {
    background: #263238;
}

.tabs.tabs-orrange .nav-tabs li a {
    background: #263238;
}

.tabs.tabs-orrange .nav-tabs li a:hover {
    background: #d32f2f;
}

.tabs .nav-tabs {
    border: none;
}

.tabs .nav-tabs li + li {
    margin-left: 10px;
}

.tabs .nav-tabs li a {
    border: none;
    margin-right: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 0 57px;
    line-height: 50px;
    color: #fff;
    font-family: 'Avenir-Book', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.tabs .nav-tabs li.active a {
    background: #f8fbfd;
    color: #20292d;
    border: none;
}

.tabs .tab-content .tab-pane {
    padding: 30px 35px;
    background: #f8fbfd;
}

.tabs .tab-content .tab-pane h4 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #20292d;
    margin-top: 0;
    margin-bottom: 20px;
}

.tabs .tab-content .tab-pane p {
    font-family: 'ATRotisSemiSans', sans-serif;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 0;
    color: #8595b1;
}

.pagination {
    border-radius: 0;
    margin: 0 auto;
}

.pagination li + li a {
    margin-left: 10px;
}

.pagination li a {
    line-height: 30px;
    border-radius: 0;
    padding: 0 15px;
    background: #f8fbfd;
    border: none;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #20292d;
    text-transform: uppercase;
}

.pagination li a:hover {
    color: #fff;
}

.pagination li:first-child a,
.pagination li:last-child a {
    border-radius: 0;
}

.pagination li.active a {
    color: #fff;
}

.pagination.pagination-blue li a:hover {
    background: #d32f2f;
}

.pagination.pagination-blue li.active a {
    background: #d32f2f;
}

.pagination.pagination-orrange li a:hover {
    background: #263238;
}

.pagination.pagination-orrange li.active a {
    background: #263238;
}

.columns .column_row h4 {
    font-family: 'Avenir-Book', sans-serif;
    color: #20292d;
    text-transform: uppercase;
    margin: 0 0 20px;
    line-height: 1;
    font-weight: bold;
}

.columns .column_row p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #8595b1;
    margin-bottom: 0;
    text-align: justify;
}

.columns .column_row .col1,
.columns .column_row .col2,
.columns .column_row .col3,
.columns .column_row .col4,
.columns .column_row .col5,
.columns .column_row .col6 {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col1 {
    width: -webkit-calc( (100% / 6) * 1);
    width: calc( (100% / 6) * 1);
}

.col2 {
    width: -webkit-calc( (100% / 6) * 2);
    width: calc( (100% / 6) * 2);
}

.col3 {
    width: -webkit-calc( (100% / 6) * 3);
    width: calc( (100% / 6) * 3);
}

.col4 {
    width: -webkit-calc( (100% / 6) * 4);
    width: calc( (100% / 6) * 4);
}

.col5 {
    width: -webkit-calc( (100% / 6) * 5);
    width: calc( (100% / 6) * 5);
}

.col6 {
    width: -webkit-calc( (100% / 6) * 6);
    width: calc( (100% / 6) * 6);
}


/*----------------------------------------------------------------*/

.service_block_row {
    padding: 90px 0 60px;
    background: #fff;
}

.service_block {
    text-align: center;
    margin: 30px 0;
    padding: 0 45px;
}

.service_block .icon {
    line-height: 49px;
    margin-bottom: 40px;
}

.service_block .icon img {
    display: inline-block;
}

.service_block h4 {
    font-size: 16px;
    font-family: 'Avenir-Book', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #20292d;
    margin-bottom: 20px;
    margin-top: 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.service_block h4:hover {
    color: #d32f2f;
}

.service_block p {
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #93a0ba;
}

.service_page .titleRow h2:after {
    display: none;
}

.service_page .service_text {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #8595b1;
    line-height: 24px;
    margin-bottom: 60px;
}

.service_details {
    padding-top: 55px;
}

.serviceDetailsSection .post_title {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 47px;
    text-transform: uppercase;
    margin: 0 0 30px;
    color: #20292d;
}

.serviceDetailsSection .post_title .post_icon {
    width: 68px;
    text-align: center;
    margin-right: 20px;
}

.serviceDetailsSection .post_title .post_icon img {
    display: inline-block;
}

.serviceDetailsSection p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #8595b1;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 30px;
}

.serviceDetailsSection .subTitle {
    font-size: 16px;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 30px 0 15px;
    color: #20292d;
}

.serviceDetailsSection .post_list {
    margin-bottom: 30px;
}

.serviceDetailsSection .post_list li {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #20292d;
    line-height: 36px;
}

.serviceDetailsSection .post_list li i {
    margin-right: 12px;
    color: #f44336;
}

.serviceDetailsSection .book_btn {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    line-height: 48px;
    background: #d32f2f;
    padding: 0 25px;
    text-transform: uppercase;
}

.serviceDetailsSection .book_btn:hover {
    background: #263238;
}


/*----------------------------------------------------------------*/

.recentpost_acc {
    background: #e5f0fb;
}

.recentpost_acc.recentpost_acc2 .recent_post_home {
    padding-top: 90px;
    padding-bottom: 90px;
}

.recent_post_home .media {
    padding: 30px 0;
    margin-right: 40px;
    text-align: left;
}

.recent_post_home .media + .media {
    margin-top: 0;
    border-top: 1px solid #dde5ef;
}

.recent_post_home .media .media-left {
    padding: 0 25px 0 0;
}

.recent_post_home .media .media-left a {
    display: block;
}

.recent_post_home .media .media-left a img {
    display: inline-block;
}

.recent_post_home .media .media-body h4 {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #20292d;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.recent_post_home .media .media-body h4:hover {
    color: #d32f2f;
}

.recent_post_home .media .media-body .meta {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 12px;
    color: #8595b1;
    line-height: 24px;
    margin: 10px 0;
    text-transform: uppercase;
}

.recent_post_home .media .media-body .meta a {
    color: #20292d;
}

.recent_post_home .media .media-body .meta a:hover {
    color: #d32f2f;
}

.recent_post_home .media .media-body p {
    margin: 0;
    color: #8595b1;
    font-family: 'ATRotisSemiSans', sans-serif;
    line-height: 24px;
    font-size: 16px;
}

.recent_post_home.recent_post_home3 {
    text-align: center;
}

.recent_post_home.recent_post_home3 .view_all {
    display: inline-block;
}

.recent_post_home2 {
    padding: 90px 0;
    background: #e5f0fb;
}

.recent_post {
    margin-top: 30px;
}

.recent_post .inner .postText {
    background: #f44336;
    font-family: 'Avenir-Book', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    padding: 33px;
    position: relative;
    margin-bottom: 35px;
}

.recent_post .inner .postText:after {
    height: 16px;
    width: 24px;
    display: block;
    background: url(../../images/blog/arrow.png) no-repeat scroll 0 0;
    bottom: -15px;
    left: 43px;
    position: absolute;
}

.recent_post .inner .authorMeta .media-left {
    padding-right: 15px;
}

.recent_post .inner .authorMeta .media-body h5 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #20292d;
    line-height: 20px;
}

.recent_post .inner .authorMeta .media-body .designation {
    margin: 0;
    color: #8595b1;
    font-family: 'Avenir-Book', sans-serif;
    font-style: italic;
    text-transform: lowercase;
}


/*----------------------------------------------------------------*/

.about_medicalpro_row {
    background: url(../../images/pages/about/about.png) repeat scroll 0 0 #0889d6;
    padding: 80px 0 125px;
}

.about_medicalpro_row .titleRow {
    color: #fff;
}

.about_medicalpro_row .titleRow h2:after {
    background: #fff;
}

.about_medicalpro_row.about_medicalpro_row2 {
    background-color: #455263;
}

.about_medicalpro {
    padding-top: 30px;
    text-align: center;
}

.about_medicalpro .inner {
    background: #fff;
}

.about_medicalpro .img img {
    width: 100%;
}

.about_medicalpro .content {
    padding: 40px 45px 55px;
    text-align: left;
}

.about_medicalpro .content h3 {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 21px;
    line-height: 36px;
    margin: 0 0 25px;
    color: #20292d;
    text-transform: uppercase;
}

.about_medicalpro .content p {
    font-family: 'ATRotisSemiSans', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #8595b1;
    margin-bottom: 23px;
    font-weight: 400;
}

.department_tab {
    display: table;
    border: none;
    margin: 0 auto;
}

.department_tab li a {
    margin: 0;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid transparent;
    line-height: 42px;
    padding: 0 20px;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    color: #fff;
}

.department_tab li a:hover {
    color: #d32f2f;
    border: none;
    background: #fff;
    border: 1px solid #fff;
}

.department_tab li.active a {
    color: #d32f2f;
    border: 1px solid #fff;
}

.about_medicalpro_N_form {
    background: #f4f9ff;
}

.about_medicalpro_N_form .container_area {
    background: url(../../images/pages/about/about3.png) no-repeat scroll 434px bottom transparent;
}

.about_medicalpro_N_form .container_area .trusted_area {
    padding: 80px 0 85px;
}

.about_medicalpro_N_form .container_area .trusted_area h4 {
    text-transform: uppercase;
    font-family: 'Avenir-Book', sans-serif;
    color: #20292d;
    margin: 0;
    line-height: 1.2;
}

.about_medicalpro_N_form .container_area .trusted_area h2 {
    text-transform: uppercase;
    font-family: 'Avenir-Book', sans-serif;
    color: #20292d;
    margin: 0 0 30px;
    line-height: 1.2;
    font-weight: bold;
}

.about_medicalpro_N_form .container_area .trusted_area p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #8595b1;
    line-height: 24px;
    margin-bottom: 30px;
}

.about_medicalpro_N_form .container_area .trusted_area ul li {
    padding-left: 28px;
    background: url(../../images/bullet.png) no-repeat scroll 0 0 transparent;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #20292d;
    margin-bottom: 15px;
}

.about_medicalpro_N_form .container_area .form_area {
    margin-top: -50px;
    float: right;
}

.appointment_home_form2 .title {
    font-size: 48px;
    font-family: 'Avenir-Book', sans-serif;
    line-height: 36px;
    font-weight: bold;
    color: #263238;
    margin: 0;
    margin-bottom: 15px;
}

.appointment_home_form2 .form_footer {
    padding: 30px 0;
}

.appointment_home_form2 .form_footer a {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #20292d;
}

.appointment_home_form2 .form_footer a img {
    margin-right: 10px;
}

.appointment_home_form2 .form_inputs input[type="submit"] {
    background: #263238;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0;
    height: auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.appointment_home_form2 .form_inputs input[type="submit"]:hover,
.appointment_home_form2 .form_inputs input[type="submit"]:focus {
    background: #d32f2f;
}

.appointment_home_form2 .form_inputs .input_row {
    background: #ef5350;
    border-bottom: 1px solid #ffcdd2;
    padding: 22px 30px;
}

.appointment_home_form2 .form_inputs .input_row label {
    color: #fff;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.appointment_home_form2 .form_inputs .input_row .form-control {
    padding: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #ECEFF1;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    height: auto;
}

.appointment_home_form2 .form_inputs .input_row .form-control::-moz-placeholder {
    color: #ECEFF1;
    opacity: 1;
}

.appointment_home_form2 .form_inputs .input_row .form-control:-ms-input-placeholder {
    color: #ECEFF1;
}

.appointment_home_form2 .form_inputs .input_row .form-control::-webkit-input-placeholder {
    color: #ECEFF1;
}

.appointment_home_form2 .form_inputs .input_row textarea.form-control {
    resize: none;
    height: 80px;
}

.who_weR {
    padding: 50px 15px 20px;
}

.who_weR .media {
    padding-top: 20px;
}

.who_weR .media .media-left {
    padding-right: 0;
}

.who_weR .media .media-left a {
    display: block;
    width: 263px;
    padding-right: 30px;
}

.who_weR .media .media-left a img {
    width: 100%;
}

.who_weR .media .media-body p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #8595b1;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: -7px;
}

.our_depts_list {
    padding: 50px 15px 20px;
}

.our_depts_list .depts_list li a {
    line-height: 36px;
    display: block;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    color: #d32f2f;
    text-transform: uppercase;
}

.our_depts_list .depts_list li a i {
    margin-right: 8px;
}

.our_depts_list .depts_list li a:hover {
    color: #20292d;
}


/*----------------------------------------------------------------*/

.team_section {
    padding-top: 65px;
}

.team_section .titleRow {
    margin-top: 25px;
}

.team_section .nav-tabs {
    border: none;
    margin-bottom: 40px;
}

.team_section .nav-tabs .media a {
    border: none;
}

.team_section .nav-tabs .media a .media-left {
    padding-right: 15px;
}

.team_section .nav-tabs .media a .media-body h5 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #8595b1;
    line-height: 20px;
}

.team_section .nav-tabs .media a .media-body .designation {
    margin: 0;
    color: #8595b1;
    font-family: 'Avenir-Book', sans-serif;
    font-style: italic;
    text-transform: capitalize;
}

.team_section .nav-tabs .media.active a,
.team_section .nav-tabs .media:focus a,
.team_section .nav-tabs .media:hover a {
    border: none;
    background: none;
}

.team_section .nav-tabs .media.active a .media-body h5,
.team_section .nav-tabs .media:focus a .media-body h5,
.team_section .nav-tabs .media:hover a .media-body h5 {
    color: #d32f2f;
}

.team_section .tab-content .media + .media {
    margin-top: 0;
}

.team_section .tab-content .media-left {
    padding: 0 15px;
}

.team_section .tab-content .media-left a {
    width: 481.5px;
    display: block;
}

.team_section .tab-content .media-body {
    padding: 0 15px;
}

.team_section .tab-content .titleRow {
    margin: 110px 0 30px;
}

.team_section .tab-content .titleRow h2 {
    color: #d32f2f;
}

.team_section .tab-content .titleRow h2:after {
    display: none;
}

.team_section .tab-content .titleRow h5 {
    text-transform: capitalize;
    font-style: italic;
}

.team_section .tab-content .titleRow h5:after {
    content: '';
    width: 85px;
    height: 1px;
    background: #d32f2f;
    display: block;
    margin: 10px 0 0;
}

.team_section .tab-content p {
    font-size: 16px;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #8595b1;
    line-height: 25px;
    margin-bottom: 35px;
}

.team_section.team_section_about {
    background: #e5f0fb;
}

.team_section_type2 {
    padding: 35px 0;
}

.team_section_type2 .team_member {
    margin: 30px 0;
}

.team_section_type2 .team_member .title_row {
    padding: 25px 0;
}

.team_section_type2 .team_member .title_row h5 {
    margin: 0 0 5px;
    line-height: 1;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Avenir-Book', sans-serif;
    color: #20292d;
}

.team_section_type2 .team_member .title_row .pos {
    font-style: italic;
    color: #d32f2f;
    font-family: 'Avenir-Book', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}

.team_section_type2 .team_member p {
    font-size: 16px;
    font-family: 'ATRotisSemiSans', sans-serif;
    line-height: 24px;
    color: #8595b1;
    margin-bottom: 30px;
}


/*----------------------------------------------------------------*/

.book_banner {
    background: #263238;
    color: #fff;
    padding: 43px 0;
    clear: both;
}

.book_banner .view_all {
    background: #fff;
    color: #263238;
    margin-top: 0;
    border: 1px solid #fff;
    padding: 0;
    display: block;
    text-align: center;
}

.book_banner .view_all:hover {
    background: none;
    color: #fff;
}

.book_banner h3.bannerTitle {
    margin: 0 0 10px;
    font-size: 21px;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.book_banner h5 {
    margin: 0;
    font-style: italic;
    font-family: 'Avenir-Book', sans-serif;
    color: #78909C;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.book_bannerType2 {
    background: #f44336;
    text-align: center;
    padding: 55px 0 50px;
    color: #fff;
}

.book_bannerType2 .container {
    max-width: 980px;
}

.book_bannerType2 h4 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: normal;
    margin: 0 0 5px;
}

.book_bannerType2 h2 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    margin: 0 0 30px;
}

.book_bannerType2 p {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: 300;
    margin: 0 0 20px;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}

.book_bannerType2 .view_all {
    background: #fff;
    border: 1px solid #fff;
    color: #d32f2f;
}

.book_bannerType2 .view_all:hover {
    background: none;
    color: #fff;
}

.slide_banner {
    margin: 160px 0 330px;
}

.slide_banner h2 {
    text-transform: uppercase;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 15px;
    margin-top: 0;
    color: #20292d;
}

.slide_banner p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #76839c;
}

.slide_banner.slide_banner2 {
    margin: auto;
    position: absolute;
    z-index: 2;
    width: 522.5px;
    top: 20%;
}

.slide_banner.slide_banner2 .inner {
    padding: 35px;
    background: #fff;
}

.slide_banner.slide_banner2 .inner h4 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: 300;
    color: #8595b1;
    margin: 0;
    text-transform: uppercase;
}


/*----------------------------------------------------------------*/

/*
footer {
    border-top: 8px solid #f68b33;
    padding: 4px 0 44px;
    color: #fff;
    background-image: url('../../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/

footer .heading {
    margin-top: 20px;
    font-size: 26px;
    color: #f68b32;
    height: 64px;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
}

footer h3 {
    margin-top: 0px;
    font-size: 21px;
    margin-bottom: 10px;
    color: #f68b32;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
}

.social_menu {
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: right;
}

.social_menu li {
    margin-right: 0;
    margin-left: 2px;
}

.social_footer li a {
    color: #fff;
    padding: 0 5px;
    border-right: 1px solid #f68b32;
    padding-right: 10px;
}

.social_footer li:last-child a {
    border-right: 1px solid transparent;
    padding-right: 5px;
}

.social_footer li:hover a {
    color: #f68b32;
}

.social_menu li a {
    color: #fff;
    background: transparent;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    max-height: 51px;
    max-width: 51px;
    min-height: 51px;
    min-width: 51px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.social_menu li:hover a {
    color: #f68b32;
    border: 2px solid #f68b32;
}

footer .heading h2 {
    text-transform: uppercase;
    line-height: 64px;
    color: #20292d;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    margin: 0;
}

footer .footer_menuList .menuList ul {
    float: left;
    text-transform: uppercase;
    padding: 0 7px;
    min-width: 145px;
}

footer .footer_menuList .menuList ul li a {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    padding: 0 15px;
    line-height: 36px;
    color: #828fa8;
}

footer .footer_menuList .menuList ul li a:hover {
    color: #fff;
    background: none;
}

footer .footer_menuList .menuList ul li.active a {
    color: #fff;
}

footer .footer_menuList .menuList ul:nth-child(1) {
    padding-left: 0;
}

footer .footer_menuList .menuList ul:nth-child(2) {
    border-left: 1px solid #536175;
    border-right: 1px solid #536175;
}

footer .footer_address .address .address_line {
    color: #828fa8;
    font-family: 'ATRotisSemiSans', sans-serif;
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 25px;
}

footer .newsletterForm input {
    background: #343f4f;
    line-height: 50px;
    height: 50px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0 25px;
    color: #828fa8;
    font-family: 'ATRotisSemiSans', sans-serif;
    text-shadow: none;
    font-size: 16px;
}

footer .newsletterForm input + input {
    margin-top: 10px;
}

footer .newsletterForm input[type="submit"] {
    background: #d32f2f;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

footer .newsletterForm input[type="submit"]:hover,
footer .newsletterForm input[type="submit"]:focus {
    background: #263238;
}

footer .newsletter_form2 {
    margin-top: -20px;
}

footer .footer_bottom {
    margin-top: 35px;
}

footer .footer_bottom ul li {
    padding: 0;
    float: left;
}

footer .footer_bottom ul li + li {
    margin-left: 15px;
}

footer .footer_bottom ul li a {
    color: #828fa8;
    font-size: 18px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

footer .footer_bottom ul li a:hover {
    color: #fff;
}

footer .footer_bottom .copyright {
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #8595b1;
    line-height: 20px;
    font-size: 15px;
}

footer .footer_bottom .copyright a {
    text-transform: uppercase;
    color: #8595b1;
}


/*----------------------------------------------------------------*/

.quick_blocks_row {
    position: relative;
}

.quick_blocks_row:before {
    content: '';
    width: 100%;
    display: block;
    height: 110px;
    position: absolute;
    background: #fff;
    bottom: 0;
}

.quick_blocks_row.quick_blocks_row2 {
    background: #fff;
    padding: 40px 0;
}

.quick_blocks_row.quick_blocks_row2:before {
    display: none;
}

.quick_blocks_row.quick_blocks_row_home2 {
    margin-top: -110px;
    z-index: 2;
}

.quick_block .inner {
    padding: 30px;
}

.quick_block .inner .heading {
    text-transform: uppercase;
    color: #fff;
}

.quick_block .inner .heading h5 {
    margin: 0;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
}

.quick_block .inner .heading h3 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 1;
}

.quick_block .inner p {
    margin-bottom: 25px;
    line-height: 24px;
    font-size: 15px;
    font-family: 'Avenir-Book', sans-serif;
    color: #d2f0ff;
    font-weight: 300;
}

.quick_block .inner a {
    text-transform: uppercase;
    color: #fff;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.quick_block .inner a:after {
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    display: block;
    margin: 5px 0 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.quick_block .inner:hover a:after {
    width: 0;
}

.quick_block.emmergency .inner {
    background: url(../../images/pages/quick-blocks/1.png) no-repeat scroll right bottom #f44336;
}

.quick_block.branches .inner {
    background: url(../../images/pages/quick-blocks/2.png) no-repeat scroll right bottom #6686ff;
}

.quick_block.branches .inner p {
    color: #cfd9fe;
}

.quick_block.bill_payments .inner {
    background: url(../../images/pages/quick-blocks/3.png) no-repeat scroll right bottom #9878ff;
}

.quick_block.bill_payments .inner p {
    color: #dacfff;
}


/*----------------------------------------------------------------*/

.testimonial_section {
    background: url(../../images/pages/testimonial/1.png) no-repeat scroll right bottom #e0eeff;
    padding-top: 90px;
    padding-bottom: 90px;
    height: 741px;
    position: inherit;
    z-index: 2;
}

.testimonial_section:before {
    position: absolute;
    width: 30%;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    background: #e0eeff;
}

.testimonial_section .inner {
    position: relative;
}

.testimonial_section .testimonial_slider {
    border: none;
    background: none;
    padding-right: 40px;
}

.testimonial_section .testimonial_slider .testi_content .inner .postText {
    background: #d32f2f;
    font-size: 21px;
    font-family: 'Avenir-Book', sans-serif;
    font-style: italic;
    line-height: 36px;
    padding: 30px 37px;
}

.testimonial_section .testimonial_slider .testi_content .inner .postText:after {
    background-image: url(../../images/pages/testimonial/3.png);
    left: 45px;
}

.testimonial_section .testimonial_slider .testi_content .inner .authorMeta .media-left img {
    width: 70px;
    height: 64px;
}

.testimonial_section .testimonial_slider .flex-control-nav li a {
    width: 12px;
    height: 12px;
    background: #9fadbd;
}

.testimonial_section .testimonial_slider .flex-control-nav li a.flex-active {
    background: #d32f2f;
}


/*----------------------------------------------------------------*/

.page_intro.row {
    height: 214px;
    background: #d32f2f;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page_intro.row .inner {
    padding-top: 75px;
    height: 100%;
}

.page_intro.row .inner:before {
    background: url(../../images/pages/page_intro.jpg) no-repeat scroll center 0;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.2;
}

.page_intro.row .inner:after {
    content: '';
    width: 60px;
    height: 60px;
    background: url(../../images/pages/page_drop.png) no-repeat scroll center center #e53935;
    border-radius: 100%;
    position: absolute;
    bottom: -30px;
    left: -webkit-calc(50% - 30px);
    left: calc(50% - 30px);
}

.page_intro.row h5 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}

.page_intro.row h2 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin: 0;
    line-height: 36px;
}

.breadcrumbRow .inner {
    border-bottom: 1px solid #ebf0f5;
    padding: 18px 0 25px;
}

.breadcrumbRow .inner ul {
    margin: 0;
    padding: 0;
    background: none;
}

.breadcrumbRow .inner ul li {
    color: #263238;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: 300;
    line-height: 15px;
    text-transform: uppercase;
}

.breadcrumbRow .inner ul li a {
    color: #20292d;
}


/*----------------------------------------------------------------*/

.blog {
    padding: 0 0 30px;
    text-align: left;
    border-bottom: 1px solid #dde5ef;
}

.blog + .blog {
    margin-top: 0;
    padding-top: 30px;
}

.blog .media-left {
    padding-right: 30px;
}

.blog .media-left a {
    display: block;
    width: 262px;
}

.blog .media-left a img {
    max-width: 100%;
}

.blog .image_row {
    margin-bottom: 30px;
}

.blog blockquote {
    border-left: 9px solid #d32f2f;
    padding-left: 35px;
}

.blog blockquote h2 {
    font-family: 'Avenir-Book', sans-serif;
    color: #20292d;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
}

.blog blockquote a {
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #263238;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: block;
}

.blog h3 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #20292d;
    line-height: 34px;
    margin: 0;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.blog h3 i {
    color: #d32f2f;
    margin-right: 23px;
}

.blog h3:hover {
    color: #d32f2f;
}

.blog .meta {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 12px;
    color: #8595b1;
    line-height: 24px;
    margin: 15px 0;
    text-transform: uppercase;
}

.blog .meta a {
    color: #20292d;
    margin-right: 12px;
}

.blog .meta a:last-child {
    margin-right: 0;
    color: #f44336;
}

.blog .meta a:hover {
    color: #d32f2f;
}

.blog p {
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #8595b1;
    line-height: 24px;
    font-size: 16px;
}

.blog.single_post {
    border: none;
}

.blog.single_post blockquote {
    border-left-width: 5px;
    margin: 45px 0 25px;
    padding: 20px 0 25px 40px;
}

.blog.single_post blockquote p {
    color: #8595b1;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 0;
    font-style: italic;
}

.comments {
    margin: 50px 0;
    border-bottom: 1px solid #dde5ef;
}

.comments .comment {
    margin-bottom: 50px;
}

.comments .comment .commenter_img {
    padding: 0;
}

.comments .comment .commenter_img a {
    display: block;
    width: 165px;
    padding-right: 25px;
}

.comments .comment .commenter_img a img {
    max-width: 100%;
}

.comments .comment .comment_body {
    position: relative;
}

.comments .comment .comment_body .heading {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.comments .comment .comment_body .heading:after {
    content: '';
    width: 85px;
    height: 1px;
    background: #d32f2f;
    display: block;
    margin: 10px 0 0;
}

.comments .comment .comment_body .heading h5 {
    font-family: 'Avenir-Book', sans-serif;
    color: #d32f2f;
    margin: 0;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
}

.comments .comment .comment_body .heading h5 span {
    margin-left: 20px;
    font-size: 11px;
    color: #8595b1;
}

.comments .comment .comment_body .heading h6 {
    font-size: 11px;
    font-family: 'Avenir-Book', sans-serif;
    font-style: italic;
    color: #8595b1;
    line-height: 1;
    margin: 0;
}

.comments .comment .comment_body p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8595b1;
    line-height: 24px;
    margin-bottom: 15px;
}

.comments .comment .comment_body .reply_btn {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.4px;
    color: #fff;
    line-height: 25px;
    padding: 0 20px;
    background: #d32f2f;
    display: inline-block;
}

.comments .comment .comment_body .reply_btn:hover {
    background: #263238;
}

.comments .comment.reply_comment {
    margin-left: 165px;
    background: #e5f0fb;
}

.comments .comment.reply_comment .commenter_img {
    padding-top: 10px;
}

.comments .comment.reply_comment .comment_body {
    padding-top: 10px;
}

.comments .comment.reply_comment .comment_body .author_badge {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-family: 'Avenir-Book', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    line-height: 15px;
    padding: 0 5px;
    background: #8595b1;
    text-transform: uppercase;
    z-index: 2;
}

.reply_form {
    margin: 40px 0 50px;
}

.reply_form input {
    margin-bottom: 10px;
}

.reply_form .form-control {
    padding: 0 22px;
    background: #e5f0fb;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #828fa8;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    height: auto;
    border-radius: 0;
}

.reply_form .form-control::-moz-placeholder {
    color: #828fa8;
    opacity: 1;
}

.reply_form .form-control:-ms-input-placeholder {
    color: #828fa8;
}

.reply_form .form-control::-webkit-input-placeholder {
    color: #828fa8;
}

.reply_form textarea.form-control {
    resize: none;
    height: 180px;
}

.reply_form .submit_btn {
    margin-top: 20px;
    padding: 0 55px;
    line-height: 55px;
    background: #d32f2f;
    font-family: 'ATRotisSemiSans', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.reply_form .submit_btn:hover,
.reply_form .submit_btn:focus {
    background: #263238;
}


/*----------------------------------------------------------------*/

.contact_section_title {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 30px;
    padding-bottom: 20px;
    color: #20292d;
    text-transform: uppercase;
    border-bottom: 1px solid #ebf0f5;
}

.map_row.row {
    margin-bottom: 100px;
}

#mapBox {
    height: 380px;
}

.contact_intro.row {
    margin: 35px 0 0;
    padding-top: 130px;
}

.contact_intro.row .inner {
    background: #e5f0fb;
}

.contact_intro.row .inner .col-sm-5 {
    text-align: center;
}

.contact_intro.row .inner .col-sm-5 img {
    margin-top: -130px;
    display: inline-block;
    max-width: 100%;
}

.contact_intro.row .inner .col-sm-7 {
    padding-right: 100px;
}

.contact_intro.row .inner .col-sm-7 h2 {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 65px 0 18px;
}

.contact_intro.row .inner .col-sm-7 p {
    font-family: 'ATRotisSemiSans', sans-serif;
    font-weight: normal;
    line-height: 26px;
    font-size: 17px;
    color: #8595b1;
}

.contact_intro.row .inner .col-sm-7 .phone_fax,
.contact_intro.row .inner .col-sm-7 .email_address {
    line-height: 1;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    color: #d32f2f;
    text-transform: uppercase;
}

.contact_intro.row .inner .col-sm-7 .phone_fax .phone,
.contact_intro.row .inner .col-sm-7 .email_address .phone {
    margin-right: 50px;
}

.contact_intro.row .inner .col-sm-7 .phone_fax {
    margin: 50px 0 17px;
}

.contact_address .address .address_line {
    color: #828fa8;
    font-family: 'ATRotisSemiSans', sans-serif;
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 25px;
}

.contact_form_row {
    padding: 90px 0;
}

.contactForm .contact_form .input-group {
    margin-bottom: 15px;
    width: 100%;
}

.contactForm .contact_form label {
    color: #8595b1;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 7px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.contactForm .contact_form label.error {
    padding-top: 5px;
    clear: both;
    color: #263238;
}

.contactForm .contact_form .form-control {
    padding: 0 22px;
    background: #e5f0fb;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: 'ATRotisSemiSans', sans-serif;
    color: #828fa8;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    height: auto;
    border-radius: 0;
}

.contactForm .contact_form .form-control::-moz-placeholder {
    color: #828fa8;
    opacity: 1;
}

.contactForm .contact_form .form-control:-ms-input-placeholder {
    color: #828fa8;
}

.contactForm .contact_form .form-control::-webkit-input-placeholder {
    color: #828fa8;
}

.contactForm .contact_form textarea.form-control {
    resize: none;
    height: 180px;
    margin-bottom: 30px;
}

.contactForm .contact_form .submit_btn {
    margin-top: 35px;
    padding: 0 25px;
    line-height: 50px;
    background: #d32f2f;
    font-family: 'Avenir-Book', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.contactForm .contact_form .submit_btn:hover,
.contactForm .contact_form .submit_btn:focus {
    background: #263238;
}

.contactForm .contact_form .security_captcha {
    line-height: 35px;
}

.contactForm .contact_form .security_captcha label {
    margin: 0;
    line-height: 35px;
}

.contactForm .contact_form .security_captcha .form-control {
    line-height: 35px;
    margin: 0 20px;
    width: 165px;
}

.contactForm #success,
.contactForm #error {
    display: none;
}

.contactForm #success span,
.contactForm #erro span {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
}

.contactForm #success span,
.contactForm #error span {
    margin-top: 6em;
}

.contactForm #success span {
    color: #fff;
    background: #9bd32d;
    width: 96%;
    padding: 10px;
}


}
.contactForm #error span {
    color: #fff;
    background: #c0392b;
    width: 96%;
    padding: 10px;
}

}

/*----------------------------------------------------------------*/
.contents404 {
    padding: 70px 0;
    margin-bottom: 70px;
}
.contents404 .logo404 {
    text-align: right;
}
.contents404 .logo404 img {
    display: inline-block;
    max-width: 100%;
}
.contents404 h2,
.contents404 h3 {
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: bold;
    font-size: 168px;
    line-height: 109px;
    margin: 0;
    color: #20292d;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contents404 h2 {
    margin-top: 20px;
}
.contents404 h3 {
    font-size: 109px;
}
.contents404 p {
    font-size: 17px;
    line-height: 36px;
    font-family: 'ATRotisSemiSans',
    sans-serif;
    color: #8595b1;
    font-weight: normal;
    margin-bottom: 0;
}

/*----------------------------------------------------------------*/
.dorctors_row {
    margin-bottom: 40px;
}
.doctor_details {
    padding: 50px 0 120px;
}
.doctor_details .doctor_about .image {
    margin-bottom: 40px;
}
.doctor_details .doctor_about p {
    font-family: 'ATRotisSemiSans',
    sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #8595b1;
    line-height: 24px;
    margin-bottom: 0;
}
.doctor_details .doctor_about .heading {
    margin-bottom: 20px;
}
.doctor_details .doctor_about .heading h3 {
    text-transform: uppercase;
    margin: 10px 0 5px;
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: bold;
    color: #20292d;
}
.doctor_details .doctor_about .heading h5 {
    text-transform: capitalize;
    font-style: italic;
    color: #d32f2f;
    margin: 0;
    font-family: 'Avenir-Book',
    sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.doctor_details .speciality ul li {
    font-family: 'ATRotisSemiSans',
    sans-serif;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    color: #20292d;
    text-transform: uppercase;
}
.doctor_details .speciality ul li i {
    margin-right: 7px;
}
.doctor_cv {
    padding: 70px 0;
    background: #e5f0fb;
}
.doctor_cv .cv_widget {
    min-height: 200px;
    font-family: 'ATRotisSemiSans',
    sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #8595b1;
    line-height: 24px;
}
.doctor_cv .cv_widget .heading {
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: bold;
    color: #20292d;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.doctor_cv .cv_widget .heading:after {
    content: '';
    width: 80px;
    height: 1px;
    background: #d32f2f;
    display: block;
    margin: 20px 0 0;
}

/*----------------------------------------------------------------*/
.timeTableFilters {
    padding: 60px 0;
}
.timeTableFilters li {
    padding: 0 15px;
    float: left;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Avenir-Book',
    sans-serif;
    color: #20292d;
    font-weight: bold;
    cursor: pointer;
}
.timeTableFilters li.active {
    color: #2c99db;
    cursor: auto;
}
.timeTable {
    margin-bottom: 0;
}
.timeTable thead tr th {
    border: 2px solid #fff;
    text-transform: capitalize;
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: bold;
    color: #20292d;
    text-align: center;
    line-height: 60px;
    padding: 0;
}
.timeTable tbody tr:nth-child(odd) td:first-child {
    background: #ebf0f5;
}
.timeTable tbody tr td {
    border: 2px solid #fff;
    text-transform: capitalize;
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 20px;
    visibility: visible;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.timeTable tbody tr td span {
    display: block;
}
.timeTable tbody tr td span.room {
    line-height: 1;
    font-size: 12px;
    font-weight: 300;
    margin: 15px 0;
}
.timeTable tbody tr td span.time_b {
    margin-bottom: 10px;
    white-space: nowrap;
}
.timeTable tbody tr td:first-child {
    color: #20292d;
    white-space: nowrap;
    line-height: 60px;
    padding: 0 45px;
}
.timeTable tbody tr td.general_health,
.timeTable tbody tr td.rehabilitation,
.timeTable tbody tr td.nurology,
.timeTable tbody tr td.dental {
    background: #d32f2f;
}
.timeTable tbody tr td.cardiac {
    background: #263238;
}
.timeTable tbody tr td.cancer {
    background: #f44336;
}
.timeTable tbody tr td.bgf {
    background: #fff;
    visibility: hidden;
}

/*----------------------------------------------------------------*/
.bannercontainer {
    width: 100%;
    position: relative;
    padding: 0;
    z-index: 1;
}
.bannercontainer .preloader {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 660px;
    text-align: center;
    background: #fff;
    z-index: 9999;
}
.bannercontainer .main_slider li .container {
    position: relative;
    height: 100vh;
}
.bannercontainer .main_slider li .heading {
    text-transform: uppercase;
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: 800;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 15px;
    margin-top: 0;
    color: #20292d;
}
.bannercontainer .main_slider li .para {
    font-family: 'ATRotisSemiSans',
    sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #8595b1;
}
.bannercontainer .main_slider li .link a {
    color: #fff;
}
.bannercontainer .main_slider li.first-slide .heading {
    top: 160px;
}
.bannercontainer .main_slider li.first-slide .para {
    top: 270px;
}
.bannercontainer .main_slider li.first-slide .link {
    top: 330px;
}
.bannercontainer .main_slider li.second-slide .heading {
    top: 410px;
}
.bannercontainer .main_slider li.second-slide .para {
    top: 520px;
}
.bannercontainer .main_slider li.second-slide .link {
    top: 570px;
}
.bannercontainer .main_slider li.third-slide {
    text-align: center;
}
.bannercontainer .main_slider li.third-slide .heading {
    top: 410px;
    left: 296px;
}
.bannercontainer .main_slider li.third-slide .para {
    top: 520px;
    left: 378px;
}
.bannercontainer .main_slider li.third-slide .link {
    top: 570px;
    left: 491px;
}

/*----------------------------------------------------------------*/

/*Service Tab*/
.service_tab {
    padding: 90px 0 125px;
}
.service_tab #service_tab {
    margin: 60px 0 90px;
}
.service_tab #service_tab li {
    padding: 0 15px;
    text-align: center;
}
.service_tab #service_tab li a {
    border: 1px solid #e5f0fb;
    border-radius: 0;
    padding: 0 5px 20px;
    line-height: 1.4;
    text-transform: uppercase;
    font-family: 'Avenir-Book',
    sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #657188;
    transition: all 300ms ease-in-out;
}
.service_tab #service_tab li a span {
    display: block;
    width: 77px;
    height: 57px;
    margin: -25px auto 20px;
    background: no-repeat scroll center center #e5f0fb;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    transition: all 300ms ease-in-out;
}
.service_tab #service_tab li a:hover {
    background: none;
}
.service_tab #service_tab li.active a {
    border-color: #d32f2f;
    color: #20292d;
}
.service_tab #service_tab li.active a span {
    background-color: #d32f2f;
}
.service_tab #service_tab li:nth-child(1) a span {
    background-image: url(../../images/icons/service_block/tab/1-g.png);
}
.service_tab #service_tab li:nth-child(2) a span {
    background-image: url(../../images/icons/service_block/tab/2-g.png);
}
.service_tab #service_tab li:nth-child(3) a span {
    background-image: url(../../images/icons/service_block/tab/3-g.png);
}
.service_tab #service_tab li:nth-child(4) a span {
    background-image: url(../../images/icons/service_block/tab/4-g.png);
}
.service_tab #service_tab li:nth-child(5) a span {
    background-image: url(../../images/icons/service_block/tab/5-g.png);
}
.service_tab #service_tab li:nth-child(6) a span {
    background-image: url(../../images/icons/service_block/tab/6-g.png);
}
.service_tab #service_tab li.active:nth-child(1) a span {
    background-image: url(../../images/icons/service_block/tab/1-w.png);
}
.service_tab #service_tab li.active:nth-child(2) a span {
    background-image: url(../../images/icons/service_block/tab/2-w.png);
}
.service_tab #service_tab li.active:nth-child(3) a span {
    background-image: url(../../images/icons/service_block/tab/3-w.png);
}
.service_tab #service_tab li.active:nth-child(4) a span {
    background-image: url(../../images/icons/service_block/tab/4-w.png);
}
.service_tab #service_tab li.active:nth-child(5) a span {
    background-image: url(../../images/icons/service_block/tab/5-w.png);
}
.service_tab #service_tab li.active:nth-child(6) a span {
    background-image: url(../../images/icons/service_block/tab/6-w.png);
}
.service_tab .tab-content {}
.service_tab .tab-content .tab-pane {
    transition: all 300ms ease-in-out;
}
.service_tab .tab-content .tab-pane .col-sm-6 .row {
    position: relative;
}
.service_tab .tab-content .tab-pane img {
    width: 100%;
}
.service_tab .tab-content .tab-pane .ts {
    display: block;
    padding: 0 20px;
    line-height: 38px;
    background: #f44336;
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 75px;
    right: 0;
}
.service_tab .tab-content .tab-pane h3 {
    font-family: 'Avenir-Book',
    sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #20292d;
}
.service_tab .tab-content .tab-pane h3:after {
    content: '';
    width: 85px;
    height: 1px;
    background: #d32f2f;
    display: block;
    margin: 13px 0 0;
}
.service_tab .tab-content .tab-pane h4 {
    font-family: 'Avenir-Book',
    sans-serif;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #657188;
    margin-top: 0;
    margin-bottom: 20px;
}
.service_tab .tab-content .tab-pane p {
    color: #8595b1;
    line-height: 27px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'ATRotisSemiSans',
    sans-serif;
}
.service_tab .tab-content .tab-pane .view_all {}

/*Service Tab End*/
.service .column {
    height: 50vh;
    text-align: left;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service .column .content {
    height: 50vh;
    color: #FFF;
    line-height: 20px;
    padding: 10vh 10vh;
    background: rgba(0,
    0,
    0,
    0);
    opacity: 0;
    transition: all .5s;
    text-align: center;
}
.service .column:hover .content {
    background: rgba(0,
    0,
    0,
    .8);
    opacity: 1;
}
.service .column .content h1 {
    letter-spacing: 1px;
    margin-top: 0px;
    font-family: 'Univers-Bold';
}
.service .column .content p {
    letter-spacing: 1px;
    margin-top: 0px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'GothamRegular';
}
.service .column .content .shpor {
    width: 50px;
    background: #cbcbcb;
    height: 2px;
    margin: 0 auto 15px auto;
}
.btn.btn-bordered {
    color: #fff;
    text-shadow: none;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'Univers-Light';
    font-weight: 600;
    border: 1px solid #FFF;
    border-radius: 0px;
    padding: 5px 1px;
}
.btn.btn-bordered span {
    background: transparent;
    color: #FFF;
    padding: 4px 12px;
}
.btn.btn-bordered:hover span {
    background: white;
    color: #023e88;
    padding: 4px 12px;
}
.contents {
    padding: 50px 0;
}
.contents .content .shpor {
    width: 200px;
    -webkit-clip-path: polygon(46% 0,
    40% 0,
    0 100%,
    6% 100%);
    clip-path: polygon(46% 0,
    40% 0,
    0 100%,
    6% 100%);
    background: #f68b32;
    float: left;
    margin-right: -95px;
    margin-bottom: 80px;
}
.contents .content .title {
    color: #0054a6;
    font-size: 50px;
    margin-top: -10px;
    font-family: 'ATRotisSemiSans' !important;
}
.contents .content .subtitle-description {
    color: #f68b32;
    font-size: 16px;
    margin-top: 0px;
    line-height: 28px;
    letter-spacing: 1px;
}
.contents .content.nor p {
    color: #76787a;
    font-size: 14px;
    margin-top: 0px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contents .content.nor ul.spice {
    margin-left: 0;
    margin-right: 0;
    color: #76787a;
    font-size: 14px;
    margin-top: 0px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    list-style: none;
}
.contents .content.nor ul.spice.scrolls {
    padding-left: 25px;
    max-height: 450px;
    overflow-y: scroll;
}
.contents .content.nor ul.spice.scrolls::-webkit-scrollbar {
    width: 0.5em;
}
.contents .content.nor ul.spice.scrolls::-webkit-scrollbar-track {
    background: #023e88;
    border: 4px solid transparent;
    background-clip: content-box;
}
.contents .content.nor ul.spice.scrolls::-webkit-scrollbar-thumb {
    background-color: #f48b3f;
    outline: none;
    border-radius: 8px;
    margin-left: -4px;
}
.subtitle-description ul.spice {
    list-style: none;
}
.subtitle-description ul.spice ul.spicys {
    padding-left: 0;
    list-style: none;
}
.subtitle-description ul.spice ul.spicys li {
    font-size: 12px;
    list-style: none;
    margin-bottom: 2px;
    color: #101010;
    font-weight: 800;
    list-style: none;
}
.subtitle-description ul.spice ul.spicys li b.titlessoss {
    font-size: 13px;
    color: #f48b3f;
}
.subtitle-description ul.spice li {
    color: #f48b3f;
}
.subtitle-description ul.spice li:hover,
.subtitle-description ul.spice li.active {
    color: #023e88;
}
tr td.tit {
    color: #f48b3f;
    font-weight: 800;
    text-align: center;
    font-size: 13px;
    border-right: 1px solid #023e88;
    padding: 2px 5px;
}
tr td.dud {
    color: #fff;
    background: #f48b3f;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
}
tr td.ded {
    color: #76787a;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid #023e88;
    padding: 2px 5px;
}
tr td.ded:last-child,
tr td.tit:last-child {
    border-right: 0px solid #023e88;
}
.subtitle-description ul.spice li b.titlesso.rir {
    font-weight: 800;
}
.subtitle-description ul.spice li::before {
    content: ">> ";
}
.subtitle-description ul.spice ul.spicys li::before {
    content: "";
}
.subtitle-description ul.spice li b.titlesso.rir span {
    color: #f48b3f;
}
.contents .content.nor ul.spice ul.spicys {
    padding-left: 19px;
}
.contents .content.nor ul.spice ul.spicys li::before {
    content: "- ";
    color: #f48b3f;
    font-size: 15px;
}
.contents .content.nor ul.spice ul.spicys li {
    font-size: 15px;
    list-style: none;
    margin-bottom: 2px;
    font-weight: 300;
}
.contents .content.nor ul.spice li b.titlesso {
    font-size: 16px;
    color: #023e88;
}
.contents .content.nor ul.spice li b.titlesso span {
    color: #f48b3f;
}
.contents .content.nor ul.spice li div.spicys {
    margin-top: 10px;
}
.contents .content.nor ul.spice li .spicys b.titlessu {
    font-size: 15.5px;
    color: #023e88;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 5px;
}
.contents .content.nor ul.spice li .spicys b.titlessu span {
    color: #f48b3f;
}
.contents .content.nor ul.spice li::before {
    content: "• ";
    color: #f48b3f;
    font-size: 16px;
    margin-left: -10px;
}
.contents .content.nor ul.spice li {
    margin-bottom: 20px;
}
.contents .content div.subtitle-description .nav.nav-pills.curriculums li a,
a.titpill {
    background: none;
    padding: 0px;
    color: #f48b3f;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.contents .content div.subtitle-description .nav.nav-pills.curriculums li.active a,
.contents .content div.subtitle-description .nav.nav-pills.curriculums li.hover a,
a.titpill {
    color: #0054a6;
}
.contents .content div.subtitle-description .nav.nav-pills.curriculums li a::before,
a.titpill::before {
    content: ">> ";
    color: #f48b3f;
    font-size: 16px;
}
.mui-textfield>input,
.mui-textfield>textarea {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0,
    0,
    0,
    .87);
    border: none;
    border-bottom: 1px solid #f68b32;
    outline: 0;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}