/*=== Safari ===*/
/* SAfari 10 */
_::-webkit-:not(:root:root), #main-header .navbar-fat .navbar-nav>li>a:hover, .btn-book-header a:hover, .dropdown-menu > li > a:hover, .btn-lang.active, #container-content .btn-lang.active {
    font-weight: 100;
}
_::-webkit-:not(:root:root), #booking .booking_area .title {
    font-size: 30px;
}
_::-webkit-:not(:root:root), .slides-pagination {
    margin-top: 60px;
}
_::-webkit-:not(:root:root), #main-header .navbar-fat {
    background: transparent;
}
/* SAfari 7 */
_:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root #main-header .navbar-fat .navbar-nav>li>a:hover, .btn-book-header a:hover, .dropdown-menu > li > a:hover, .btn-lang.active, #container-content .btn-lang.active {
        font-weight: 100;
}
_:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root #booking .booking_area .title {
        font-size: 30px;
}
_:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .slides-pagination {
        margin-top: 60px;
}
_:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root #main-header .navbar-fat {
        background: transparent;
}
/* SAfari 5 */
::i-block-chrome, #main-header .navbar-fat .navbar-nav>li>a:hover, .btn-book-header a:hover, .dropdown-menu > li > a:hover, .btn-lang.active, #container-content .btn-lang.active {
    font-weight: 100;
}
::i-block-chrome, #booking .booking_area .title {
    font-size: 30px;
}
::i-block-chrome, .slides-pagination {
    margin-top: 60px;
}
::i-block-chrome, #main-header .navbar-fat {
    background: transparent;
}
/*=== End Safari ===*/

/*=== High Resolution ===*/
@media (min-width: 1367px) {
    #content_container.meeting-content-container {
        z-index: 2;
        width: 100%;
        padding-top: 0px;
        min-height: 42.68vw;
        padding-bottom: 0px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-35.5%);
        -ms-transform: translateY(-35.5%);
        transform: translateY(-35.5%);
    }
    #content_wrapper.room-content-container {
        z-index: 2;
        padding-top: 0px;
        /*min-height: 42.68vw;*/
        padding-bottom: 0px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(9.5%);
        -ms-transform: translateY(9.5%);
        transform: translateY(9.5%);
    }
    .black-back-opacity {
        position: absolute;
        left: 0;
        right: 38px;
        margin-left: auto;
        margin-right: auto;
        top: 65px;
        z-index: 2;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Gotham-Bold';
        -webkit-transform: translateY(9.5%);
        -ms-transform: translateY(9.5%);
        transform: translateY(5.5%);
    }
}
@media (min-width: 1990px) and (max-width: 2560px) {
    #main-nav li {
        padding: 20px 25px;
    }
    #main-nav.nav-white {
        border-radius: 15px;
    }
    #main-header .navbar-fat .navbar-nav>li>a {
        font-size: 30px;
    }
    .liner {
        margin: 0;
    }
    #booking {
        top: 185px;
    }
    #datepicker-to font, #datepicker-from font {
        font-size: 16px;
        top: 8px;
    }
    .glyphicon-calendar:before  {
        font-size: 24px;
    }
    #booking .booking_area input[type="text"], #booking .booking_area select {
        padding: 12px 10px;
        font-size: 17px;
    }
    #booking .booking_area #guest_icon, #booking .booking_area #rooms_icon {
        top: 10px;
        font-size: 24px!important;
    }
    .check-avail {
        font-size: 20px;
    }
    .slides-pagination {
        top: 575px;
        right: 202px;
    }
    #booking .booking_area {
        width: 400px;
        padding: 35px 30px;
    }
    #booking .booking_area .title {
        font-size: 52px;
    }
    #datepicker-to.pull-right, #datepicker-from {
        height: 50px;
    }
    a.navbar-brand img {
        width: 100%;
    }
    .btn-book-header {
        width: 210px;
        height: 46px;
        top: 95px;
    }
    .btn-book-header a {
        font-size: 23px;
    }
    #content_container, #detail_content {
        padding-top: 180px;
        min-height: 41.599vw;
    }
    #content .content_box {
        height: 685px;
    }
    .hover_bw_color .image_cover {
        height: 400px!important;
    }
    #content .content_box_name {
        font-size: 34px;
    }
    #content .content_box_description {
        font-size: 20px;
    }
    .content_box_book_button {
        font-size: 20px;
    }
    .image_cover.image-coming {
        height: 664px!important;
    }
    #bottom {
        font-size: 16px;
    }
    #bottom .bottom_title {
        font-size: 18px;
    }
    .font-11 {
        font-size: 15px;
    }
    .sec2 img {
        width: 6%;
    }
    .map a {
        font-size: 16px;
    }
    .border.bottom-height {
        height: 136px;
    }
}
@media (min-width: 1366px) and (max-width: 1990px) {
    .btn-book-header {
        bottom: 47px;
    }
    .drop-show.right {
        top: -66px;
        position: relative;
        right: 0;
    }
}
/*=== End ===*/

/*=== Nav ===*/
/*
@media (min-width: 1990px) and (max-width: 2560px) {
    #main-nav li {
        padding: 20px 25px;
    }
    #main-nav.nav-white {
        border-radius: 15px;
    }
    #main-header .navbar-fat .navbar-nav>li>a {
        font-size: 30px;
    }
    .liner {
        margin: 0;
    }
    #booking .booking_area {
        width: 400px;
        padding: 35px 30px;
    }
}
*/

@media (min-width: 995px) and (max-width: 1100px) {
    #main-nav.nav-white {
        width: 84%;
    }
    #main-nav.nav-black {
        width: 84%;
    }
}
@media (min-width: 955px) and (max-width: 995px) {
    #main-nav.nav-white {
        width: 83%;
    }
    #main-nav.nav-black {
        width: 83%;
    }
}
@media (min-width: 1240px) and (max-width: 1266px) {
    .nav > li > a {
        padding: 10px 12px;
    }
}
@media (min-width: 1166px) and (max-width: 1240px) {
    .navbar-brand>img {
        width: calc(100px + 2vw)!important;
    }
    #main-header .navbar-fat .navbar-nav>li>a {
        font-size: 12px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .btn-book-header {
        bottom: 20px;
    }
    .drop-show.right {
        top: -39px;
    }
}
@media (min-width: 1095px) and (max-width: 1165px) {
    .navbar-brand>img {
        width: 80%;
    }
    #main-header .navbar-fat .navbar-nav>li>a {
        font-size: 12px;
        padding-left: 12px;
        padding-right: 12px;
    }
    #main-nav li {
        padding: 5px 10px;
    }
    .btn-book-header {
        bottom: 38px;
    }
    .drop-show.right {
        top: -55px;
    }
}
@media (min-width: 955px) and (max-width: 1094px) {
    .navbar-brand>img {
        width: 80%;
    }
    #main-header .navbar-fat .navbar-nav>li>a {
        font-size: 12px;
    }
    #main-nav li {
        padding: 5px 0px;
    }
    .drop-show.right {
        top: -55px;
    }
    .btn-book-header {
        bottom: 37px;
    }
}
@media (max-width: 954px) {
    .lang-switch.right {
        float: left;
        display: -webkit-inline-box;
    }
    #main-nav {
        width: 100% !important;
        margin: 0;
    }
    .btn-book-header{
        border-radius: 10px;
    }
    .btn-book-header a {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        padding: 0;
        line-height: 1.9;
    }
    .drop-show #booking .booking_area {
        border-radius: 20px;
    }
}
@media (max-width: 991px) {
    #bxslider-pager {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 954px) {
    .drop-show.right {
        top: -35px;
        position: relative;
        right: 15px;
    }
    .btn-book-header {
        bottom: 34px;
        margin-right: 20px;
    }
}
@media (min-width: 451px) and (max-width: 954px) {
/*
    .btn-book-header {
        bottom: 0;
    }
*/
    .collapse.in #booking {
        width: 100%;
        position: relative;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .collapse-book .paddright-5, .book .paddright-5 {
        padding-right: 15px;
    }
    .collapse-book .paddleft-5, .book .paddleft-5 {
        padding-left: 15px;
    }
    #booking .booking_area #guest_icon {
        right: 23px!important;
    }
    .collapse-book #booking {
        margin: 0!important;
    }
    .collapse.in #booking {
        top: 0px;
    }
    .drop-show.right {
        top: -35px;
        position: relative;
        right: 0;
    }
    .btn-book-header {
        margin-right: 5px;
        bottom: 30px;
    }
}
@media (max-width: 451px) {
    .btn-book-header {
        margin-right: 5px;
        bottom: 26px;
    }
    .collapse.in #booking {
        width: 100%;
        position: relative;
        top: 30px;
    }
    .collapse-book .paddright-5, .book .paddright-5 {
        padding-right: 15px;
    }
    .collapse-book .paddleft-5, .book .paddleft-5 {
        padding-left: 15px;
    }
    #booking .booking_area #guest_icon {
        right: 23px!important;
    }
    .drop-show.right {
        top: -35px;
        right: 0;
    }
    .collapse-book #booking {
        margin: 0!important;
    }
    .collapse.in #booking {
        width: 100%;
        position: relative;
        top: 0;
    }
    #content_wrapper {
        margin: 0;
    }
}
@media (max-width: 768px) {
    .navbar-brand > img {
        width: 70%;
    }
    #booking .booking_area {
        padding: 20px 20px;
    }
}
/*=== End Nav ===*/

/*=== Content ===*/
@media (min-width: 768px) and (max-width: 1112px) {
    .content_box_description p {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    #content .content_box {
        height: 100%;
    }
    .desc_detail p {
        height: auto;
    }
    .desc_detail {
        padding-bottom: 20px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    .content_box_name {
        font-size: 24px;
    }
}
@media (max-width: 451px) {
    .content_box_name {
        font-size: 20px!important;
    }
    .content_box_description p {
        font-size: 10px;
    }
}
/*=== End Content ===*/

/*=== Gallery ===*/
@media (min-width: 900px) and (max-width: 1199px) {
    #carousel {
        top: 50%;
    }
}
@media (min-width: 800px) and (max-width: 900px) {
    #carousel {
        top: 48%;
    }
}
@media (min-width: 700px) and (max-width: 800px) {
    #carousel {
        top: 46%;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    #carousel {
        top: 44%;
    }
}
@media (min-width: 500px) and (max-width: 600px) {
    #carousel {
        top: 42%;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    #carousel {
        top: 40%;
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    #carousel {
        top: 38%;
    }
}
@media (min-width: 676px) and (max-width: 768px) {
    .flex-direction-nav a:before {
        font-size: 32px;
    }
}
@media (min-width: 600px) and (max-width: 675px) {
    .flex-direction-nav a:before {
        font-size: 27px;
    }
}

@media (min-width: 475px) and (max-width: 599px) {
    .flex-direction-nav a:before {
        font-size: 22px;
    }
}
@media (min-width: 452px) and (max-width: 474px) {
    .flex-direction-nav a:before {
        font-size: 18px;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .flex-direction-nav a {
        width: 6%;
        height: 16%;
    }
}
@media (max-width: 451px) {
    .flex-direction-nav a {
        width: 6%;
        height: 16%;
    }
    .flex-direction-nav a:before {
        font-size: 14px;
    }
    .flex-direction-nav a.flex-prev:before {
        margin-left: 4px;
    }
    .flex-direction-nav a.flex-next:before {
        margin-right: 4px;
    }
}
/*=== End Gallery ===*/
/*=== Thumb Gallery ===*/
@media (min-width: 955px) and (max-width: 1040px) {
    #carousel .flex-direction-nav a {
        top: 63%;
    }
}
@media (min-width: 780px) and (max-width: 955px) {
    #carousel .flex-direction-nav a {
        top: 66%;
    }
}
@media (min-width: 700px) and (max-width: 780px) {
    #carousel .flex-direction-nav a {
        width: 25px;
        height: 25px;
        top: 78%;
    }
    #carousel .flex-direction-nav a:before {
        font-size: 15px;
    }
    #carousel .flex-direction-nav a.flex-next:before {
        margin-right: 5px;
    }
    .flex-direction-nav a.flex-prev:before {
        margin-left: 5px;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    #carousel .flex-direction-nav a {
        width: 25px;
        height: 25px;
        top: 78%;
    }
    #carousel .flex-direction-nav a:before {
        font-size: 15px;
    }
    #carousel .flex-direction-nav a.flex-next:before {
        margin-right: 5px;
    }
    #carousel .flex-direction-nav a.flex-prev:before {
        margin-left: 5px;
    }
    #carousel .flex-direction-nav .flex-next {
        right: -30px;
    }
    #carousel .flex-direction-nav .flex-prev {
        left: -30px;
    }
}

@media (max-width: 600px) {
    #carousel .flex-direction-nav a {
        width: 20px;
        height: 20px;
        top: 82%;
    }
    #carousel .flex-direction-nav a:before {
        font-size: 12px;
    }
    #carousel .flex-direction-nav a.flex-next:before {
        margin-right: 5px;
    }
    #carousel .flex-direction-nav a.flex-prev:before {
        margin-left: 5px;
    }
    #carousel .flex-direction-nav .flex-next {
        right: -30px;
    }
    #carousel .flex-direction-nav .flex-prev {
        left: -30px;
    }
}
/*=== End Thumb Gallery ===*/

/*=== Slider ====*/
@media (min-width: 451px) and (max-width: 767px) {
    .slides-pagination {
        top: 68%;
        right: 0;
        text-align: center;
        z-index: 2;
    }
}
@media (max-width: 450px) {
    .slides-pagination {
        top: 95%;
        right: 0;
        text-align: center;
        z-index: 2;
    }
}
/*=== End Slider ====*/

/*== Booking ==*/
@media (min-width: 768px) and (max-width: 1200px) {

}
@media (min-width: 450px) and (max-width: 767px) {
    #booking .booking_area{
        width: 260px;
        margin: 0 auto;
        float: none;
    }
}
@media (max-width: 449px) {
    #booking .booking_area{
        width: 200px;
        margin: 0 auto;
        float: none;
    }
}
@media (max-width: 767px) {
    #booking{
        width: 100%;
        margin: 0 auto;
        right: 0;
    }
    .collapse-book #booking {
        width: 100%;
    }
    
    #booking .booking_area .form-group .input-group{
        width: 100%;
    }
    #booking .booking_area .title {
        font-size: 20px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 5px 0;
    }
    #booking {
        top: 135px;
        font-size: 12px;
    }
    #booking .booking_area input[type="text"], #booking .booking_area select {
        padding: 6px 8px;
        font-size: 10px;
    }
    img.ui-datepicker-trigger {
        width: 14px;
        position: absolute;
        right: 7px;
        top: 5px;
        cursor: pointer;
    }
    #booking .booking_area #guest_icon {
        top: 5px;
        right: 14px;
        font-size: 15px!important;
    }
    #booking .booking_area #rooms_icon {
        top: 4px;
        right: 22px;
        font-size: 17px!important;
    }
    .check-avail {
        font-size: 10px;
        padding: 7px 0;
    }
    #guest_list.dropdown {
        right: 18px;
        top: 24px;
    }
    #rooms_list.dropdown {
        right: 18px;
        top: 24px;
    }
}
/*== End Booking ==*/

/*=== Footer ===*/
/*
@media (min-width: 1055px) and (max-width: 1155px) {
    #bottom a.link-bottom {
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 1055px) {
    #bottom a.link-bottom {
        font-size: 12px;
    }
}
*/
@media (max-width: 1200px){
    #bottom{
        padding: 10px 0;
/*        margin: 0 7.5%;*/
    }
    #bottom a.link-bottom{
        font-size: 12px;
    }
    .copy-right p{
        position: initial;
        margin-top: 10px;
    }
    .panel-group {
        margin-bottom: 0;
    }
    .panel-title{
        font-size: 10px;
        text-align: center;
    }
    .panel-body{
        text-align: center;
    }
    .over-link a {
        font-size: 10px;
    }
    .sec2 img {
        width: 5%;
    }
    input.email {
        border-radius: 12px 0 0 12px;
        width: 65%;
    }
    input.btn-subscribe {
        border-radius: 0 12px 12px 0;
        padding-right: 11px;
        width: 35%;
    }
}
@media (max-width: 1200px) {
    #bottom {
        position: inherit!important;
        margin: 0!important;
        border-radius: 0!important;
    }
}
/*=== End Footer ===*/