/*--- Default ---*/
ul li {
    color: #fff;
}
.back-blue {
    background: #0c2e73;
}
.red-lines {
    display: block;
    position: relative;
    width: 65%;
    padding-top: 10px;
}
.color-black {
    color: #000;
}
.red-lines:before {
    position: absolute;
    height: 2px;
    width: 35%;
    bottom: 0;
    content: '';
    background: #ed1d24;
}
.red-lines-client {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 8px;
}
.red-lines-client:before {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    content: '';
    background: #ed1d24;
}
.list-style ul {
    list-style: none;
    padding: 0;
}
.list-style ul li { 
    padding-left: 1em; 
    text-indent: -.7em;
    line-height: 2;
}
.list-style ul li:before {
    content: "• ";
    color: #ed1d24;
}
.text-center {
    text-align: center;
}
.slides-navigation {
    top: 40%;
}
.container-vacancy {
    padding: 40px 0;
}
.title-thumb-red {
    color: #ed1d24;
}
.list-text p{
    font-size: 12px;
}
.color-red {
    color: #ed1d24!important;
}
.color-white {
    color: #fff;
}
.contact-container {
    padding-top: 20px;
}
.float-right {
    float: right;
}
.pad-left15 {
    padding-left: 15px;
}
#detail-page {
    height: 100vh;
}
.detail-img-thumb img {
    width: 100%;
}
.detail-container {
    padding: 60px 0 0;
}
.detail-content-container {
    padding-top: 40px;
    padding-bottom: 40px;
/*    margin: 11vh auto;*/
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.title-detail-page:before {
    content: "• ";
    color: #ed1d24;
}
.img-tabs {
    padding-bottom: 10px;
}
/*--- End Default ---*/

#homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 60px 0 0;
}
.bar .title {
    padding: 0;
    margin: 0;
    min-width: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
/*    line-height: 44px;*/
    color: #fff;
}
.bar {
    padding: 15px 0;
}
.bar-blue {
    background: #0c2e73;
    border-bottom: 2px solid #ed1d24;
}

h1.title {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "GothamMediumRegular";
}

section {
    position: relative;
}
/*
#about-us,
#service,
#client,
#vacancy,
#contact-us {
  position: relative;
  padding: 30px 0 50px;
}*/

/*--- Vision Mision ---*/
.nav-tabs {
    border-bottom: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
}
.nav>li>a {
    padding: 25px 15px;
}
.nav-tabs>li>a {
    border: none;
    font-size: 20px;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}
.nav-tabs>li.active>a:before {
    content: '';
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ed1d24;
}
.tab-content {
    padding-top: 15px;
    text-align: left;
}

.title-thumb h4 {
    margin-top: 0;
    color: #aeaeae;
    text-transform: uppercase;
}
.title-desc h2 {
    color: #0c2e73;
    text-transform: uppercase;
    font-family: 'GothamBookRegular';
}
.desc-text p {
    line-height: 1.8;
    font-family: 'GothamBookRegular';
}
span.text {
    font-family: "GothamBookRegular";
}

.img-tabs img {
    width: 100%;
}

.vision h2 {
    margin-top: 0;
}
.vision h2, .mision h2 {
    color: #0c2e73;
    text-transform: uppercase;
    font-family: "GothamBookRegular";
}
.desc-text {
    padding-top: 18px;
}
.mision ul li {
    color: #000;
    font-family: "GothamBookRegular";
}
/*--- End Vision Mision ---*/

/*--- Our Client ---*/
.client-container {
    padding: 20px 0;
}
.title-client {
    color: #0c2e73;
    padding-bottom: 8px;
}
.title-client h4 {
    margin-bottom: 0;
    margin-top: 15px;
}
/*--- End Our Client ---*/

/*--- Vacancy ---*/
#vacancy {
    background: #0c2e73;
}
.desc-recruitment {
    width: 60%;
}
.title-thumb-red p {
    z-index: 99;
}
.panel {
    background-color: transparent;
    border: none;
}
.panel-heading.active a {
    color: #ed1d24;
}
.panel-title:hover, .panel-title:active {
    color: #ed1d24;
    cursor: pointer;
}
.panel-title span.sub-title-rec {
    float: right;
}
.panel-title .glyphicon-play {
    color: #ed1d24;
}
.panel-title span.icon-vac {
    font-size: 10px;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 2px;
}
.panel-default>.panel-heading {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    color: #fff;
    padding: 5px 0;
}
.panel-default>.panel-heading:hover, .panel-default>.panel-heading:focus, .panel-default>.panel-heading:active {
    outline-color: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
    color: #fff;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: none;
}
.panel-title>a, .panel-title>small, .panel-title>.small, .panel-title>small>a, .panel-title>.small>a {
    display: block;
}
.panel-body {
    padding: 5px 15px;
}
span.title-rec {
    width: 100px;
}
.desc-road-vac p {
    color: #fff;
}
/*--- End Vacancy ---*/

/*--- Footer ---*/
.text-contact p {
    color: #fff;
}
.col-md-4.border-right {
    border-right: 1px solid #fff;
/*    padding-left: 0;*/
}
.telp p, .fax p, .email p {
    display: inline-block;
    width: 45px;
}
.bottom-footer {
    background: #0c2e73;
    border-top: 2px solid #ed1d24;
    padding: 15px 0;
}
.bottom-footer a {
    color: #fff;
}
.head-road {
    padding: 15px 0;
}
/*--- End Footer ---*/

/*--- Scroll top ---*/
.scrollTop.show-button {
    -webkit-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
}
.scrollTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 44px;
    height: 44px;
    text-decoration: none;
    padding: 0;
    color: #e7e6f1;
    background: #ed1d24;
    border: none;
    border-radius: 100%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, 80px);
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate(0, 80px);
    transform: translate3d(0, 80px, 0);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    opacity: 1;
    z-index: 99999;
}
.scrollTop:hover, .scrollTop:focus {
    color: #e7e6f1;
    opacity: 1;
}
/*--- End Scroll top ---*/

/*--- Detai Page ---*/
a.btn-back {
    float: left;
    position: relative;
    bottom: 28px;
    display: inline-block;
    padding-left: 15px;
    margin-left: 30px;
    color: #fff;
    font-size: 20px;
}
.detail-title-thumb {
    color: #fff;
    text-transform: uppercase;
}
.detail-title-thumb h4 {
    margin-top: 0;
}
.detail-title-thumb h1 {
    margin-top: 0;
}
/*--- End Detail Page ---*/