@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/icomoon.eot?44w7a6');
  src:  url('../icomoon/icomoon.eot?44w7a6#iefix') format('embedded-opentype'),
    url('../icomoon/icomoon.ttf?44w7a6') format('truetype'),
    url('../icomoon/icomoon.woff?44w7a6') format('woff'),
    url('../icomoon/icomoon.svg?44w7a6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e900";
}
.icon-checkmark2:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-cancel2:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-plus2:before {
  content: "\e905";
}
.icon-minus:before {
  content: "\e906";
}
.icon-minus2:before {
  content: "\e907";
}
.icon-notice:before {
  content: "\e908";
}
.icon-notice2:before {
  content: "\e909";
}
.icon-people_outline:before {
  content: "\e7fc";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-small-down:before {
  content: "\e90d";
}
.icon-chevron-small-left:before {
  content: "\e90e";
}
.icon-chevron-small-right:before {
  content: "\e90f";
}
.icon-chevron-small-up:before {
  content: "\e910";
}
.icon-chevron-thin-down:before {
  content: "\e911";
}
.icon-chevron-thin-left:before {
  content: "\e912";
}
.icon-chevron-thin-right:before {
  content: "\e913";
}
.icon-chevron-thin-up:before {
  content: "\e914";
}
.icon-chevron-up:before {
  content: "\e915";
}
.icon-chevron-with-circle-down:before {
  content: "\e916";
}
.icon-chevron-with-circle-left:before {
  content: "\e917";
}
.icon-chevron-with-circle-right:before {
  content: "\e918";
}
.icon-chevron-with-circle-up:before {
  content: "\e919";
}
.icon-calendar:before {
  content: "\e91a";
}
.icon-user-o:before {
  content: "\f2c0";
}

