@font-face {
  font-family: 'Univers-Bold';
  src: url('Univers-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Light';
  src: url('Univers-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}