/*=== Navbar ===*/
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #585858;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #585858!important;
    font-weight: 700;
}
a.navbar-brand {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}
a.navbar-brand img {
    width: calc(130px + 2vw);
}
.navbar-default {
    box-shadow: none;
    background-image: none;
}
#main-header .navbar-fat {
    position: absolute;
    background: -webkit-linear-gradient(0deg,rgba(0,0,0,0) 0,rgb(0, 0, 0) 100%);
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgb(0, 0, 0) 100%);
    padding: 20px 20px 20px 20px;
}
#main-header .navbar-fat.navbar-clean {
    position: fixed;
    background: transparent;
    background: transparent;
    padding: 20px 20px 20px 20px;
}
#main-header .navbar-default {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0!important;
    border: 0;
    position: fixed;
}
#main-header .navbar-fat .navbar-nav>li>a {
    text-transform: uppercase;
    color: #a7a9ac;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}
#main-header .navbar-fat .navbar-nav>li>a:hover {
    color: #585858;
    font-weight: 700;
}
#main-nav li {
    padding: 5px 13px;
}
#main-nav.nav-white {
    background-color: #fff;
    border-radius: 10px;
    width: 85%;
}
#main-nav.nav-black {
    background-color: #292829;
    border-radius: 10px;
    width: 85%;
}
.menu.dropdown ul li {
    text-align: center;
}
.menu .dropdown-menu {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    left: -8px;
}
.dropdown-menu > li > a {
    color: #a7a9ac;
}
.dropdown-menu > li > a:hover {
    color: #585858;
    font-weight: 700;
}
.nav-black .dropdown-menu {
    background-color: #292829;
}
.nav-black .dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li.active {
    background-color: transparent;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    color: #585858!important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.lang-switch.right {
    float: right;
    display: -webkit-inline-box;
}
.lang-switch a {
    cursor: pointer;
}
.btn-lang.active {
    color: #585858!important;
    font-weight: 700;
}
.liner {
    width: 1px;
    background: #a7a9ac;
    position: relative;
    margin: 12px 0;
    display: block;
}
/*=== End Navbar ===*/

/*=== Form Booking ===*/
#booking {
    left: 0;
    right: 38px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    z-index: 2;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
}
#booking.absolute-position {
    position: absolute;
}
#booking .booking_area {
    height: 100%;
    width: 260px;
    padding: 25px 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
#booking .booking_area .title {
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 10px 0;
}
#booking .booking_area #reservation {
    width: 100%;
}
#booking .booking_area input[type="text"], #booking .booking_area select {
    padding: 8px 10px;
    font-size: 12px;
    width: 100%;
    border: 0;
    outline: none;
    color: #777;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Gotham-Book';
    text-transform: uppercase;
}
#booking .booking_area #reservation_icon {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #0c0b0d;
    cursor: pointer;
}
#booking .booking_area #reservation_icon.two {
    position: absolute;
    top: 7px;
    right: 20px;
    color: #0c0b0d;
    cursor: pointer;
}
#booking .booking_area #guest_icon {
    position: absolute;
    top: 7px;
    right: 12px;
    color: #0c0b0d;
    cursor: pointer;
}
#booking .booking_area #rooms_icon {
    position: absolute;
    top: 7px;
    right: 20px;
    color: #0c0b0d;
    cursor: pointer;
}
#booking .booking_area #guest_list {
    z-index: 11;
    cursor: pointer;
}
.booking_area form {
    margin-bottom: 0;
}
#guest_list.dropdown {
    position: absolute;
    width: auto;
    color: #777;
    background: rgba(255, 255, 255, 0.77);
    overflow: auto;
    display: none;
    right: 8px;
    top: 28px;
    border-radius: 0 0 8px 8px;
}
#rooms_list.dropdown {
    position: absolute;
    width: auto;
    color: #777;
    background: rgba(255, 255, 255, 0.77);
    overflow: auto;
    display: none;
    right: 16px;
    top: 28px;
    border-radius: 0 0 8px 8px;
}
#booking .booking_area #rooms_list {
    z-index: 11;
}
#guest_list.dropdown p {
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 5px;
    cursor: pointer;
}
#rooms_list.dropdown p {
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 5px;
    cursor: pointer;
}
#booking .booking_area #check_availability {
    height: 26px;
}
.check-avail {
    text-align: center;
    font-size: 12px;
    background: #a7a9ac;
    padding: 10px 0;
    border-radius: 10px;
}
.check-avail .btn-avail {
    color: #f5f5f5;
    font-family: 'Gotham-Book';
}
img.ui-datepicker-trigger {
    width: 15px;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}
#ui-datepicker-div {
    z-index: 9999!important;
}
.input-group.date.marginbott-5 {
    width: 100%;
}
#datepicker-to, #datepicker-from {
    border-radius: 10px;
}
#datepicker-to.pull-right, #datepicker-from {
    background: #fff;
    cursor: pointer;
    padding: 5px 5px 5px 8px;
    border: 1px solid #ccc;
    width: 100%;
    color: #777;
    /*height: 34px;*/
}
#datepicker-to font, #datepicker-from font {
    font-size: 11px;
    font-weight: normal;
    position: relative;
    /*top: 4px;*/
    font-family: Gotham-Book;
}
.input-group.date.marginbott-5 i {
    color: #0c0b0d;
    float: right;
    /* font-size: 16px; */
    position: relative;
    left: 0;
    right: 5px;
    /*top: 4px;*/
}
input#guest, input#rooms {
    cursor: pointer;
}
/*=== End Form Booking ===*/

/*=== Detail Content ===*/
#bx-pager img {
    width: 100%;
}
#bx-pager a {
    margin-right: 15px;
}
#bx-pager a:nth-last-child(1) {
    margin-right: 0;
}
.detail-title h1 {
    font-family: 'Gotham-Bold';
    color: #a7a9ac;
    margin-bottom: 20px;
}
.desc_detail {
    min-height: 31.3vw;
}
.btn-next-content {
    text-align: right;
    float: right;
}
.btn-prev-content {
    text-align: left;
    float: left;
}
.btn-next-content a {
    color: #292829;
    font-weight: 700;
    font-size: 16px;
}.btn-prev-content a {
    color: #292829;
    font-weight: 700;
    font-size: 16px;
}
.btn-next-content span {
    font-size: 22px;
    float: right;
    padding-left: 5px;
}
.btn-prev-content span {
    font-size: 22px;
    float: left;
    padding-right: 5px;
}
/*=== End Detail Content ===*/

/*=== Dropdown Booknow ===*/
.collapse.in #booking {
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
}
.collapse.in.collapse-book {
    position: relative;
    top: 0;
    z-index: 0;
    float: right;
}
.collapse.collapse-book {
    float: right;
    top: 0;
    position: relative;
}
.drop-show.right {
    top: -59px;
    position: relative;
    right: 0; 
}
.drop-show #booking .booking_area {
    border-radius: 0 0 20px 20px;
    background: rgb(41, 40, 41);
    margin-bottom: -9px;
}
/*=== End Dropdown Booknow ===*/

/*=== Loader ===*/
.content-loader {
    height: 100%;
    height: 50vh;
}
.svg-container {
    width: 50%;
    height: 50%;
}
/*=== End Loader ===*/

/*=== Facilities ===*/
.facilities p {
    font-size: 11px;
    /*padding-top: 15px;*/
}
/*=== End Facilities ===*/

/*=== Happening ===*/
/*
.content-happening {
    padding-bottom: 50px;
}
*/
#happening_container hr {
    margin: 50px 0;
    border-top: 1px solid rgba(35, 34, 36, 0.5);
}
.content-happening h1.title {
    color: #a7a9ac;
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    margin-top: 0;
    margin-bottom: 20px;
}
button.book-conc {
    background-color: transparent;
    border-style: none;
    border: 1px solid #a7a9ac;
    padding: 5px 20px;
    font-size: 12px;
    margin-top: 16px;
}
button.book-conc a {
    color: #a7a9ac;
}
/*=== End Happening ===*/

/*=== Gallery ===*/
.slider {
    overflow-x: hidden;
}
#carousel li {
    margin-right: 5px;
/*    width: auto!important;*/
}
#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}
#carousel img:hover {
    opacity: 1;
}
#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}
#carousel {
    position: absolute;
    top: 55%;
    width: 50.97%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#carousel .flex-direction-nav a {
    width: 30px;
    height: 30px;
    top: 56%;
}
#carousel .flex-direction-nav a:before {
    font-size: 20px;
}
#carousel .flex-direction-nav a.flex-next:before {
    margin-right: 4px;
}
#carousel .flex-direction-nav a.flex-prev:before {
    margin-left: 4px;
}
#carousel ul.slides {
    padding: 5px;
}
/*=== End Gallery ===*/

/*=== Bottom Footer ===*/
#bottom {
    padding: 15px 0;
    min-height: 100px;
    font-size: 11px;
    font-family: 'Gotham-Book';
    color: #FFF;
    background: rgba(12, 11, 13, 0.90);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin: 0 40px;
    border-radius: 15px;
}
.container-fluid.pad-0 {
    padding: 0;
}
#bottom .bottom_title {
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.bottom_body {
    margin: 0 15px;
}
#bottom a {
    color: #fff;
}
#bottom .border {
    border-left: 1px solid #fff;
}
#bottom a.link-bottom {
    font-size: 16px;
    text-transform: uppercase;
}
#bottom .panel-title a {
    padding: 10px 15px;
}
#bottom .socmed a {
    padding-right: 10px;
}
#bottom .socmed a:nth-child(5) {
    padding-right: 0;
}
.sec2.form-newsletter {
    padding-top: 10px;
}
span.map {
    border: 1px solid #777;
    border-radius: 7px;
    padding: 3px 10px;
}
.map a {
    font-size: 12px;
}
.form-newsletter input {
    border: none;
    padding: 5px 5px 5px 10px;
    color: #777;
}
.panel-group .panel .panel-heading .panel-title>a.collapsed:after {
    content: "\f067";
    color: #fff;
    line-height: 45px;
    font-size: 12px;
}
.panel-group .panel .panel-heading .panel-title>a:after {
    content: "\f068";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 10px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 10pt;
}
.over-link .border-link {
    border-bottom: 1px solid #3a3a3a;
}
.copy-right p {
    position: absolute;
    top: 82px;
}
.liner-white {
    width: 1px;
    background: #fff;
    position: relative;
    margin: 0;
    display: block;
    height: 20px;
}
.border.bottom-height {
    height: 109px;
}
.location p {
    margin-bottom: 2px;
}
input.email {
    border-radius: 12px 0 0 12px;
    width: 50%;
}
input.btn-subscribe {
    border-radius: 0 12px 12px 0;
    padding-right: 11px;
    width: 50%;
}
.sec2 img {
    width: calc(14px + 0.8vw);
}
.socmed p {
    margin: 0 0 12px;
}
/*=== Firman Tambahan CSS ===*/
#bottom .collection-4{
    margin-bottom: 4px;    
}
#bottom .collection-4 a.link-bottom{
    font-size: 13px;
}
#bottom .collection-5{
    margin-bottom: 3px;   
}
#bottom .collection-5 a.link-bottom{
    font-size: 10px;
}
}
}
/*=== End Firman Tambahan CSS ===*/
/*=== End Bottom Footer ===*/