/*=== Navbar ===*/
#container-content #main-header .navbar-fat {
    background: #fff;
}
#main-header .navbar-fat .navbar-nav.nav-black>li>a {
    color: #fff;
}
#main-header .navbar-fat .navbar-nav.nav-black>li>a:hover {
    color: #585858;
}
#container-content .btn-lang.active {
    color: #585858!important;
    font-weight: 700;
}
.btn-book-header {
    background-color: #a7a9ac;
    border-radius: 0 0 10px 10px;
    width: 110px;
    float: right;
    text-align: center;
    position: absolute;
    bottom: 40px;
    margin-right: 30px;
    padding: 5px;
    right: 30px;
    height: 30px;
}
.btn-book-header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
}
.btn-book-header a:hover {
    color: #292829;
    font-weight: 700;
}
/*=== End Navbar ===*/

/*=== Room ===*/
#content_container, #detail_content {
    z-index: 2;
    width: 100%;
    padding-top: 142px;
    min-height: 42.68vw;
    padding-bottom: 85px;
    overflow-y: hidden;
}
#content_wrapper {
    margin: 0 44px;
}
#detail_wrapper {
    margin: 0 32px;
}
#content_wrapper, #detail_wrapper {
/*    padding-bottom: 50px;*/
    background: #fff;
}
#content .content_box {
    /* height: 430px; */
    /*height: 500px;*/
    padding: 15px;
    text-align: center;
    transition: linear .2s all;
    -moz-transition: linear .2s all;
    -webkit-transition: linear .2s all;
    -ms-transition: linear .2s all;
    -o-transition: linear .2s all;
}
/*
#content.facilities .content_box {
    height: 540px;
}
*/
#content .content_box:hover {
    background: #000;
    color: #fff;
}
#content .content_box_name {
    margin: 15px 0 10px 0px;
    font-size: 24px;
    font-family: 'Gotham-Bold';
    color: #a7a9ac;
    text-transform: uppercase;
}
#content .content_box_name.meeting-title {
    text-transform: uppercase!important;
}
/*#content .content_box_name.facilities_title {
    color: #000;
    margin-top: 0;
}*/
#content .content_box:hover .content_box_name.facilities_title {
    color: #a7a9ac;
}
.content_box_name.text_coming {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
#content .content_box_previous {
    margin: 0 0 10px 0;
    height: 16px;
    font-size: 12px;
    font-family: 'Gotham-Book';
}
#content .content_box_description {
    height: 85px;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-family: 'Gotham-Book';
    color: #000;
}
.content_box_book {
    padding-top: 10px;
}
#content .content_box:hover .content_box_description {
    color: #fff;
}
.content_box_book_button {
    border: 2px solid #a7a9ac;
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    font-family: 'Gotham-Bold';
}
.hover_bw_color a {
    color: #a7a9ac;
    text-decoration: none;
}
.hover_bw_color .image_cover {
    width: 100%;
    transition: linear .2s all;
    -moz-transition: linear .2s all;
    -webkit-transition: linear .2s all;
    -ms-transition: linear .2s all;
    -o-transition: linear .2s all;
}
.hover_bw_color:hover .image_cover {
    filter: none;
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale);
}
.hover_bw_color .image_cover.image-coming {
    width: 100%;
    filter: gray;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: linear .2s all;
    -moz-transition: linear .2s all;
    -webkit-transition: linear .2s all;
    -ms-transition: linear .2s all;
    -o-transition: linear .2s all;
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
}
.hover_bw_color:hover .image_cover.image-coming {
    filter: gray;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
}
/*
.hover_bw_color .image_cover {
    width: 100%;
    filter: gray;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: linear .2s all;
    -moz-transition: linear .2s all;
    -webkit-transition: linear .2s all;
    -ms-transition: linear .2s all;
    -o-transition: linear .2s all;
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
}
.hover_bw_color:hover .image_cover {
    filter: none;
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale);
}
*/
/*=== End Room ===*/

/*=== Meeting ===*/
.black-back-opacity {
    position: absolute;
    left: 0;
    right: 38px;
    margin-left: auto;
    margin-right: auto;
    top: 73px;
    z-index: 2;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Gotham-Bold';
}
.fly-content {
    height: 28vw;
    width: 300px;
    padding: 25px 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    float: right;
}
.fly-content .desc_detail {
    min-height: 50%;
}
.owl-prev {
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    text-align: center;
}
.owl-next {
    right: 0;
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    text-align: center;
}
.owl-prev:before {
    content: "\e90b";
    font-size: 35px;
    font-family: icomoon;
}
.owl-next:before {
    content: "\e90c";
    font-size: 35px;
    font-family: icomoon;
}
.owl-next.disabled {
    display: none;
}
.owl-prev.disabled {
    display: none;
}
/*=== End Meeting ===*/

/*=== Happening ===*/
#happening_container {
    padding-top: 131px;
    padding-bottom: 30px;
    min-height: 40..599vw;
}
/*=== End Happening ===*/

/*=== Privacy ===*/
#content_privacy {
    width: 100%;
    padding-top: 131px;
    min-height: 40.599vw;
    padding-bottom: 60px;
}
#content_privacy h1.title {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #a7a9ac;
    font-family: Gotham-Bold;
}
/*=== End Privacy ===*/

/*=== Terms ===*/
#content_terms {
    width: 100%;
    padding-top: 131px;
    min-height: 40.599vw;
    padding-bottom: 60px;
}
#content_terms h1.title {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #a7a9ac;
    font-family: Gotham-Bold;
}
/*=== End Terms ===*/

/*=== Bottom Footer ===*/
#container-content #bottom {
    position: relative;
}
.panel-title a {
    display: block;
}
/*=== End Bottom Footer ===*/

/*=== Flexslider ===*/
.flexslider .slides.big-slide > li { 
  background-position: center;
  height: 100%;
  width: 100%;
  display: none; 
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flexslider .slides.big-slide, 
.flex-viewport {
    height: 100%;
}
ul.slides.big-slide {
  margin: 0;
  padding: 0;
}

#slider.flexslider {
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 38.5vw; 
  border: 0px; 
  overflow: hidden;
}
/*=== End Flexslider ===*/