/*=== Setting ===*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Gotham-Book';
    font-size: 14px;
}
a:hover, a:focus {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
input {
    outline: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.right {
    float: right;
}
.left {
    float: left;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center{
    text-align: center;
}
.font-11 {
    font-size: 11px;
}
.font-10 {
    font-size: 10px;
}
.paddright-5 {
    padding-right: 5px;
}
.paddleft-5 {
    padding-left: 5px;
}
.paddbottop-10 {
    padding: 10px 0;
}
.marginbott-5 {
    margin-bottom: 5px;
}
.panel{
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
}
.panel-default>.panel-heading {
    background: transparent;
    border-bottom: 1px solid #3a3a3a;
}
.panel-heading {
    padding: 0;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    background: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

#container-content .navbar-default .navbar-toggle {
    border-color: #292829;
    background: #292829;
}
#container-content .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#container-content .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #292829;
}
/*=== End Setting ===*/