@font-face {
  font-family: 'GothamRegular';
  src:  url('GothamRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBookRegular';
  src:  url('GothamBookRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMediumRegular';
  src:  url('GothamMediumRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('GothamBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}