@font-face {
  font-family: 'TheSansExtraLight';
  src: url('TheSansExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheSansPlain';
  src: url('TheSansPlain.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}