.no-margin-bottom {margin-bottom: 0;}
.p-15{padding:15px 0px;}
.pb{
    padding:15px;
}

.pb img{
    border: 1px solid #d3d3d3;
}

.tnymce{
    box-sizing: border-box;
    font-family: Avenir-Book, sans-serif;
    margin: 0px 0px 20px;
    color: #76787a;
    line-height: 28px;
    letter-spacing: 1px;
}
.whatson-sub {
    float: left;
    margin: 0 10px 0 0px;
}
.line-separator{
    height: 2px;
    background: #111319;
    border-bottom: 1px solid #3d4452;
    margin-bottom: 20px;
    margin-top: 11px;
}
.lang-swicth {
    height: 40px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin-top: 14px;
}
.lang-swicth .lang-eng {
    color: #fff;
    margin-right: 20px;
}
.lang-swicth .lang-ind {
    color: #fff;
    margin-left: 20px;
}