@font-face {
  font-family: 'MyriadPro-Semibold';
  src:  url('MyriadPro-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src:  url('MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}